In [319]:
import numpy as np
import pandas as pd

### 디렉토리 변경

In [320]:
import os
print(os.getcwd())
os.chdir("/home/jupyter-lehup/")
print(os.getcwd())

/home/jupyter-lehup
/home/jupyter-lehup

## movie_list.csv 파일 불러오기

In [321]:
movie_list = pd.read_csv('raw/BaselineData_200618.csv', encoding = 'UTF-8')
print(movie_list.columns)
print(movie_list.shape[0])
print(movie_list.head())

Index(['공식명칭', '카페/블로그 키워드', '키워드 1', '키워드 2', '키워드 3', '비고'], dtype='object')
641
               공식명칭  카페/블로그 키워드          키워드 1      키워드 2 키워드 3        비고
0                언니       영화 언니             언니        NaN   NaN       NaN
1        데드풀 2: 순한맛       데드풀 2            데드풀       데드풀2   NaN       NaN
2       레인보우: 나의 사랑  레인보우 나의 사랑        영화 레인보우  레인보우 나의사랑   NaN       NaN
3                레토       영화 레토            NaN        NaN   NaN  사람이름, 상품
4  미션 이스탄불 5: 더 파이널   미션 이스탄불 5  미션 이스탄불 더 파이널   미션 이스탄불5   NaN       NaN

## 기준 정보 rawdata목록 불러오기 - eh_meta_basedata_200623_v0.1.csv

In [328]:
movie_list_basedata = pd.read_csv('raw/eh_meta_basedata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_basedata.columns)
print(movie_list_basedata.shape[0])
print(movie_list_basedata.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'SRIS_NM', 'BTV_OPEN_DT', 'META_MANUF_CTRY_CD',
       'META_MANUF_CTRY_NM', 'GNR_ID', 'META_GNR_NM', 'WAT_LVL_CD',
       'WAT_LVL_NM', 'MANUFCO_NM', 'DSTBTCO_NM', 'SSTRY_CIN_YN', 'KIDS_YN'],
      dtype='object')
595
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT                     SRIS_NM     BTV_OPEN_DT  \
0  20190529        59344.0                 0.0MHz[캐치온]  20190812090000
1  20191212            NaN                         1+3  20191212090000
2  20190912          707.0  100일 동안 100가지로 100퍼센트 행복찾기  20190930090000
3  20191212            NaN                         10년  20191224090000
4  20190411            NaN                     12번째 솔저  20190418090000

  META_MANUF_CTRY_CD META_MANUF_CTRY_NM                     GNR_ID  \
0                001               대한민국  MG0000000001|MG0000000004
1                006                 홍콩  MG0000000001|MG0000000011
2                013                 독일  MG0000000001|MG0000000010
3                003                 일본  MG0000000001|MG0000000014
4                053               노르웨이  MG0000000001|MG0000000009

  META_GNR_NM  WAT_LVL_CD WAT_LVL_NM             MANUFCO_NM DSTBTCO_NM  \
0  드라마|공포(호러)          15    15세 관람가  (주)제이엠컬쳐스 , (주)몬스터팩토리  (주)스마일이엔티
1  드라마|멜로/로맨스          19    19세 관람가                    NaN        NaN
2     드라마|코미디          15    15세 관람가                    NaN    영화사 진진
3      드라마|가족           0     전체 관람가                    NaN   (주)디오시네마
4      드라마|전쟁          12    12세 관람가                    NaN   (주)엣나인필름

  SSTRY_CIN_YN  KIDS_YN
0            N      NaN
1            N      NaN
2            N      NaN
3            N      NaN
4            N      NaN

## 코드로 작성된 Vecotor 컬럼 삭제

In [329]:
movie_list_basedata_v1 =  movie_list_basedata.drop(['META_MANUF_CTRY_CD', 'GNR_ID', 'WAT_LVL_CD'], axis= 1)
print(movie_list_basedata_v1.columns)
print(movie_list_basedata_v1.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'SRIS_NM', 'BTV_OPEN_DT', 'META_MANUF_CTRY_NM',
       'META_GNR_NM', 'WAT_LVL_NM', 'MANUFCO_NM', 'DSTBTCO_NM', 'SSTRY_CIN_YN',
       'KIDS_YN'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT                     SRIS_NM     BTV_OPEN_DT  \
0  20190529        59344.0                 0.0MHz[캐치온]  20190812090000
1  20191212            NaN                         1+3  20191212090000
2  20190912          707.0  100일 동안 100가지로 100퍼센트 행복찾기  20190930090000
3  20191212            NaN                         10년  20191224090000
4  20190411            NaN                     12번째 솔저  20190418090000

  META_MANUF_CTRY_NM META_GNR_NM WAT_LVL_NM             MANUFCO_NM DSTBTCO_NM  \
0               대한민국  드라마|공포(호러)    15세 관람가  (주)제이엠컬쳐스 , (주)몬스터팩토리  (주)스마일이엔티
1                 홍콩  드라마|멜로/로맨스    19세 관람가                    NaN        NaN
2                 독일     드라마|코미디    15세 관람가                    NaN    영화사 진진
3                 일본      드라마|가족     전체 관람가                    NaN   (주)디오시네마
4               노르웨이      드라마|전쟁    12세 관람가                    NaN   (주)엣나인필름

  SSTRY_CIN_YN  KIDS_YN
0            N      NaN
1            N      NaN
2            N      NaN
3            N      NaN
4            N      NaN

## 불필요한 컬럼 삭제

In [330]:
movie_list_basedata_v2 =  movie_list_basedata_v1.drop(['SRIS_NM', 'KIDS_YN'], axis= 1)
print(movie_list_basedata_v2.columns)
print(movie_list_basedata_v2.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'META_MANUF_CTRY_NM', 'META_GNR_NM',
       'WAT_LVL_NM', 'MANUFCO_NM', 'DSTBTCO_NM', 'SSTRY_CIN_YN'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT     BTV_OPEN_DT META_MANUF_CTRY_NM META_GNR_NM  \
0  20190529        59344.0  20190812090000               대한민국  드라마|공포(호러)
1  20191212            NaN  20191212090000                 홍콩  드라마|멜로/로맨스
2  20190912          707.0  20190930090000                 독일     드라마|코미디
3  20191212            NaN  20191224090000                 일본      드라마|가족
4  20190411            NaN  20190418090000               노르웨이      드라마|전쟁

  WAT_LVL_NM             MANUFCO_NM DSTBTCO_NM SSTRY_CIN_YN
0    15세 관람가  (주)제이엠컬쳐스 , (주)몬스터팩토리  (주)스마일이엔티            N
1    19세 관람가                    NaN        NaN            N
2    15세 관람가                    NaN    영화사 진진             N
3     전체 관람가                    NaN   (주)디오시네마            N
4    12세 관람가                    NaN   (주)엣나인필름            N

# '|' 구분자로 된 데이터 신규 컬럼으로 병렬 처리

##  제작국가(META_MANUF_CTRY_NM) 병렬 처리

In [331]:
i1 = 1
for i1 in range(1,100):
    movie_list_basedata_v2['META_MANUF_CTRY_NM_' + str(i1)] = movie_list_basedata_v2.META_MANUF_CTRY_NM.str.split("|").str[i1-1]
    if any(pd.notnull(movie_list_basedata_v2['META_MANUF_CTRY_NM_' + str(i1)]) == True) == False :
        movie_list_basedata_v2.drop(['META_MANUF_CTRY_NM_' + str(i1)], axis= 1, inplace = True)
        break
    i1 = i1 + 1

In [332]:
print(movie_list_basedata_v2.columns)
print(movie_list_basedata_v2.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'META_MANUF_CTRY_NM', 'META_GNR_NM',
       'WAT_LVL_NM', 'MANUFCO_NM', 'DSTBTCO_NM', 'SSTRY_CIN_YN',
       'META_MANUF_CTRY_NM_1', 'META_MANUF_CTRY_NM_2', 'META_MANUF_CTRY_NM_3',
       'META_MANUF_CTRY_NM_4', 'META_MANUF_CTRY_NM_5'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT     BTV_OPEN_DT META_MANUF_CTRY_NM META_GNR_NM  \
0  20190529        59344.0  20190812090000               대한민국  드라마|공포(호러)
1  20191212            NaN  20191212090000                 홍콩  드라마|멜로/로맨스
2  20190912          707.0  20190930090000                 독일     드라마|코미디
3  20191212            NaN  20191224090000                 일본      드라마|가족
4  20190411            NaN  20190418090000               노르웨이      드라마|전쟁

  WAT_LVL_NM             MANUFCO_NM DSTBTCO_NM SSTRY_CIN_YN  \
0    15세 관람가  (주)제이엠컬쳐스 , (주)몬스터팩토리  (주)스마일이엔티            N
1    19세 관람가                    NaN        NaN            N
2    15세 관람가                    NaN    영화사 진진             N
3     전체 관람가                    NaN   (주)디오시네마            N
4    12세 관람가                    NaN   (주)엣나인필름            N

  META_MANUF_CTRY_NM_1 META_MANUF_CTRY_NM_2 META_MANUF_CTRY_NM_3  \
0                 대한민국                  NaN                  NaN
1                   홍콩                  NaN                  NaN
2                   독일                  NaN                  NaN
3                   일본                  NaN                  NaN
4                 노르웨이                  NaN                  NaN

  META_MANUF_CTRY_NM_4 META_MANUF_CTRY_NM_5
0                  NaN                  NaN
1                  NaN                  NaN
2                  NaN                  NaN
3                  NaN                  NaN
4                  NaN                  NaN

## 제작국가(META_MANUF_CTRY_NM) 컬럼 삭제

In [333]:
movie_list_basedata_v3 =  movie_list_basedata_v2.drop(['META_MANUF_CTRY_NM'], axis= 1)
print(movie_list_basedata_v3.columns)

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'META_GNR_NM', 'WAT_LVL_NM',
       'MANUFCO_NM', 'DSTBTCO_NM', 'SSTRY_CIN_YN', 'META_MANUF_CTRY_NM_1',
       'META_MANUF_CTRY_NM_2', 'META_MANUF_CTRY_NM_3', 'META_MANUF_CTRY_NM_4',
       'META_MANUF_CTRY_NM_5'],
      dtype='object')

## 장르(META_GNR_NM) 병렬 처리

In [334]:
i2 = 1
for i2 in range(1,100):
    movie_list_basedata_v3['META_GNR_NM_' + str(i2)] = movie_list_basedata_v3.META_GNR_NM.str.split("|").str[i2-1]
    if any(pd.notnull(movie_list_basedata_v3['META_GNR_NM_' + str(i2)]) == True) == False :
        movie_list_basedata_v3.drop(['META_GNR_NM_' + str(i2)], axis= 1, inplace = True)
        break
    i2 = i2 + 1

In [335]:
print(movie_list_basedata_v3.columns)
print(movie_list_basedata_v3.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'META_GNR_NM', 'WAT_LVL_NM',
       'MANUFCO_NM', 'DSTBTCO_NM', 'SSTRY_CIN_YN', 'META_MANUF_CTRY_NM_1',
       'META_MANUF_CTRY_NM_2', 'META_MANUF_CTRY_NM_3', 'META_MANUF_CTRY_NM_4',
       'META_MANUF_CTRY_NM_5', 'META_GNR_NM_1', 'META_GNR_NM_2',
       'META_GNR_NM_3', 'META_GNR_NM_4', 'META_GNR_NM_5', 'META_GNR_NM_6'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT     BTV_OPEN_DT META_GNR_NM WAT_LVL_NM  \
0  20190529        59344.0  20190812090000  드라마|공포(호러)    15세 관람가
1  20191212            NaN  20191212090000  드라마|멜로/로맨스    19세 관람가
2  20190912          707.0  20190930090000     드라마|코미디    15세 관람가
3  20191212            NaN  20191224090000      드라마|가족     전체 관람가
4  20190411            NaN  20190418090000      드라마|전쟁    12세 관람가

              MANUFCO_NM  ... META_MANUF_CTRY_NM_2 META_MANUF_CTRY_NM_3  \
0  (주)제이엠컬쳐스 , (주)몬스터팩토리  ...                  NaN                  NaN
1                    NaN  ...                  NaN                  NaN
2                    NaN  ...                  NaN                  NaN
3                    NaN  ...                  NaN                  NaN
4                    NaN  ...                  NaN                  NaN

  META_MANUF_CTRY_NM_4 META_MANUF_CTRY_NM_5 META_GNR_NM_1 META_GNR_NM_2  \
0                  NaN                  NaN           드라마        공포(호러)
1                  NaN                  NaN           드라마        멜로/로맨스
2                  NaN                  NaN           드라마           코미디
3                  NaN                  NaN           드라마            가족
4                  NaN                  NaN           드라마            전쟁

  META_GNR_NM_3 META_GNR_NM_4 META_GNR_NM_5 META_GNR_NM_6
0           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN
2           NaN           NaN           NaN           NaN
3           NaN           NaN           NaN           NaN
4           NaN           NaN           NaN           NaN

[5 rows x 23 columns]

## 장르 (META_GNR_NM) 컬럼 삭제

In [336]:
movie_list_basedata_v4 =  movie_list_basedata_v3.drop(['META_GNR_NM'], axis= 1)
print(movie_list_basedata_v4.columns)
print(movie_list_basedata_v4.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'WAT_LVL_NM', 'MANUFCO_NM',
       'DSTBTCO_NM', 'SSTRY_CIN_YN', 'META_MANUF_CTRY_NM_1',
       'META_MANUF_CTRY_NM_2', 'META_MANUF_CTRY_NM_3', 'META_MANUF_CTRY_NM_4',
       'META_MANUF_CTRY_NM_5', 'META_GNR_NM_1', 'META_GNR_NM_2',
       'META_GNR_NM_3', 'META_GNR_NM_4', 'META_GNR_NM_5', 'META_GNR_NM_6'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT     BTV_OPEN_DT WAT_LVL_NM             MANUFCO_NM  \
0  20190529        59344.0  20190812090000    15세 관람가  (주)제이엠컬쳐스 , (주)몬스터팩토리
1  20191212            NaN  20191212090000    19세 관람가                    NaN
2  20190912          707.0  20190930090000    15세 관람가                    NaN
3  20191212            NaN  20191224090000     전체 관람가                    NaN
4  20190411            NaN  20190418090000    12세 관람가                    NaN

  DSTBTCO_NM  ... META_MANUF_CTRY_NM_2 META_MANUF_CTRY_NM_3  \
0  (주)스마일이엔티  ...                  NaN                  NaN
1        NaN  ...                  NaN                  NaN
2    영화사 진진   ...                  NaN                  NaN
3   (주)디오시네마  ...                  NaN                  NaN
4   (주)엣나인필름  ...                  NaN                  NaN

  META_MANUF_CTRY_NM_4 META_MANUF_CTRY_NM_5 META_GNR_NM_1 META_GNR_NM_2  \
0                  NaN                  NaN           드라마        공포(호러)
1                  NaN                  NaN           드라마        멜로/로맨스
2                  NaN                  NaN           드라마           코미디
3                  NaN                  NaN           드라마            가족
4                  NaN                  NaN           드라마            전쟁

  META_GNR_NM_3 META_GNR_NM_4 META_GNR_NM_5 META_GNR_NM_6
0           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN
2           NaN           NaN           NaN           NaN
3           NaN           NaN           NaN           NaN
4           NaN           NaN           NaN           NaN

[5 rows x 22 columns]

## 제작사(MANUFCO_NM) 병렬 처리

In [337]:
i3 = 1
for i3 in range(1,100):
    movie_list_basedata_v4['MANUFCO_NM_' + str(i3)] = movie_list_basedata_v4.MANUFCO_NM.str.split(",").str[i3-1]
    if any(pd.notnull(movie_list_basedata_v4['MANUFCO_NM_' + str(i3)]) == True) == False :
        movie_list_basedata_v4.drop(['MANUFCO_NM_' + str(i3)], axis= 1, inplace = True)
        break
    i3 = i3 + 1

In [338]:
print(movie_list_basedata_v4.columns)
print(movie_list_basedata_v4.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'WAT_LVL_NM', 'MANUFCO_NM',
       'DSTBTCO_NM', 'SSTRY_CIN_YN', 'META_MANUF_CTRY_NM_1',
       'META_MANUF_CTRY_NM_2', 'META_MANUF_CTRY_NM_3', 'META_MANUF_CTRY_NM_4',
       'META_MANUF_CTRY_NM_5', 'META_GNR_NM_1', 'META_GNR_NM_2',
       'META_GNR_NM_3', 'META_GNR_NM_4', 'META_GNR_NM_5', 'META_GNR_NM_6',
       'MANUFCO_NM_1', 'MANUFCO_NM_2', 'MANUFCO_NM_3'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT     BTV_OPEN_DT WAT_LVL_NM             MANUFCO_NM  \
0  20190529        59344.0  20190812090000    15세 관람가  (주)제이엠컬쳐스 , (주)몬스터팩토리
1  20191212            NaN  20191212090000    19세 관람가                    NaN
2  20190912          707.0  20190930090000    15세 관람가                    NaN
3  20191212            NaN  20191224090000     전체 관람가                    NaN
4  20190411            NaN  20190418090000    12세 관람가                    NaN

  DSTBTCO_NM  ... META_MANUF_CTRY_NM_5 META_GNR_NM_1 META_GNR_NM_2  \
0  (주)스마일이엔티  ...                  NaN           드라마        공포(호러)
1        NaN  ...                  NaN           드라마        멜로/로맨스
2    영화사 진진   ...                  NaN           드라마           코미디
3   (주)디오시네마  ...                  NaN           드라마            가족
4   (주)엣나인필름  ...                  NaN           드라마            전쟁

  META_GNR_NM_3 META_GNR_NM_4 META_GNR_NM_5 META_GNR_NM_6 MANUFCO_NM_1  \
0           NaN           NaN           NaN           NaN   (주)제이엠컬쳐스
1           NaN           NaN           NaN           NaN          NaN
2           NaN           NaN           NaN           NaN          NaN
3           NaN           NaN           NaN           NaN          NaN
4           NaN           NaN           NaN           NaN          NaN

  MANUFCO_NM_2 MANUFCO_NM_3
0    (주)몬스터팩토리          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN

[5 rows x 25 columns]

## 제작사 (MANUFCO_NM) 컬럼 삭제

In [339]:
movie_list_basedata_v5 =  movie_list_basedata_v4.drop(['MANUFCO_NM'], axis= 1)
print(movie_list_basedata_v5.columns)
print(movie_list_basedata_v5.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'WAT_LVL_NM', 'DSTBTCO_NM',
       'SSTRY_CIN_YN', 'META_MANUF_CTRY_NM_1', 'META_MANUF_CTRY_NM_2',
       'META_MANUF_CTRY_NM_3', 'META_MANUF_CTRY_NM_4', 'META_MANUF_CTRY_NM_5',
       'META_GNR_NM_1', 'META_GNR_NM_2', 'META_GNR_NM_3', 'META_GNR_NM_4',
       'META_GNR_NM_5', 'META_GNR_NM_6', 'MANUFCO_NM_1', 'MANUFCO_NM_2',
       'MANUFCO_NM_3'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT     BTV_OPEN_DT WAT_LVL_NM DSTBTCO_NM SSTRY_CIN_YN  \
0  20190529        59344.0  20190812090000    15세 관람가  (주)스마일이엔티            N
1  20191212            NaN  20191212090000    19세 관람가        NaN            N
2  20190912          707.0  20190930090000    15세 관람가    영화사 진진             N
3  20191212            NaN  20191224090000     전체 관람가   (주)디오시네마            N
4  20190411            NaN  20190418090000    12세 관람가   (주)엣나인필름            N

   ... META_MANUF_CTRY_NM_5 META_GNR_NM_1 META_GNR_NM_2 META_GNR_NM_3  \
0  ...                  NaN           드라마        공포(호러)           NaN
1  ...                  NaN           드라마        멜로/로맨스           NaN
2  ...                  NaN           드라마           코미디           NaN
3  ...                  NaN           드라마            가족           NaN
4  ...                  NaN           드라마            전쟁           NaN

  META_GNR_NM_4 META_GNR_NM_5 META_GNR_NM_6 MANUFCO_NM_1 MANUFCO_NM_2  \
0           NaN           NaN           NaN   (주)제이엠컬쳐스     (주)몬스터팩토리
1           NaN           NaN           NaN          NaN          NaN
2           NaN           NaN           NaN          NaN          NaN
3           NaN           NaN           NaN          NaN          NaN
4           NaN           NaN           NaN          NaN          NaN

  MANUFCO_NM_3
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 24 columns]

## 배급사(DSTBTCO_NM) 병렬 처리

In [340]:
i4 = 1
for i4 in range(1,100):
    movie_list_basedata_v5['DSTBTCO_NM_' + str(i4)] = movie_list_basedata_v5.DSTBTCO_NM.str.split(",").str[i4-1]
    if any(pd.notnull(movie_list_basedata_v5['DSTBTCO_NM_' + str(i4)]) == True) == False :
        movie_list_basedata_v5.drop(['DSTBTCO_NM_' + str(i4)], axis= 1, inplace = True)
        break
    i4 = i4 + 1

In [341]:
print(movie_list_basedata_v5.columns)
print(movie_list_basedata_v5.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'WAT_LVL_NM', 'DSTBTCO_NM',
       'SSTRY_CIN_YN', 'META_MANUF_CTRY_NM_1', 'META_MANUF_CTRY_NM_2',
       'META_MANUF_CTRY_NM_3', 'META_MANUF_CTRY_NM_4', 'META_MANUF_CTRY_NM_5',
       'META_GNR_NM_1', 'META_GNR_NM_2', 'META_GNR_NM_3', 'META_GNR_NM_4',
       'META_GNR_NM_5', 'META_GNR_NM_6', 'MANUFCO_NM_1', 'MANUFCO_NM_2',
       'MANUFCO_NM_3', 'DSTBTCO_NM_1', 'DSTBTCO_NM_2', 'DSTBTCO_NM_3'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT     BTV_OPEN_DT WAT_LVL_NM DSTBTCO_NM SSTRY_CIN_YN  \
0  20190529        59344.0  20190812090000    15세 관람가  (주)스마일이엔티            N
1  20191212            NaN  20191212090000    19세 관람가        NaN            N
2  20190912          707.0  20190930090000    15세 관람가    영화사 진진             N
3  20191212            NaN  20191224090000     전체 관람가   (주)디오시네마            N
4  20190411            NaN  20190418090000    12세 관람가   (주)엣나인필름            N

   ... META_GNR_NM_3 META_GNR_NM_4 META_GNR_NM_5 META_GNR_NM_6 MANUFCO_NM_1  \
0  ...           NaN           NaN           NaN           NaN   (주)제이엠컬쳐스
1  ...           NaN           NaN           NaN           NaN          NaN
2  ...           NaN           NaN           NaN           NaN          NaN
3  ...           NaN           NaN           NaN           NaN          NaN
4  ...           NaN           NaN           NaN           NaN          NaN

  MANUFCO_NM_2 MANUFCO_NM_3 DSTBTCO_NM_1 DSTBTCO_NM_2 DSTBTCO_NM_3
0    (주)몬스터팩토리          NaN    (주)스마일이엔티          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN      영화사 진진           NaN          NaN
3          NaN          NaN     (주)디오시네마          NaN          NaN
4          NaN          NaN     (주)엣나인필름          NaN          NaN

[5 rows x 27 columns]

## 배급사(DSTBTCO_NM) 컬럼 삭제

In [342]:
movie_list_basedata_v6 =  movie_list_basedata_v5.drop(['DSTBTCO_NM'], axis= 1)
print(movie_list_basedata_v6.columns)
print(movie_list_basedata_v6.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'WAT_LVL_NM', 'SSTRY_CIN_YN',
       'META_MANUF_CTRY_NM_1', 'META_MANUF_CTRY_NM_2', 'META_MANUF_CTRY_NM_3',
       'META_MANUF_CTRY_NM_4', 'META_MANUF_CTRY_NM_5', 'META_GNR_NM_1',
       'META_GNR_NM_2', 'META_GNR_NM_3', 'META_GNR_NM_4', 'META_GNR_NM_5',
       'META_GNR_NM_6', 'MANUFCO_NM_1', 'MANUFCO_NM_2', 'MANUFCO_NM_3',
       'DSTBTCO_NM_1', 'DSTBTCO_NM_2', 'DSTBTCO_NM_3'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT     BTV_OPEN_DT WAT_LVL_NM SSTRY_CIN_YN  \
0  20190529        59344.0  20190812090000    15세 관람가            N
1  20191212            NaN  20191212090000    19세 관람가            N
2  20190912          707.0  20190930090000    15세 관람가            N
3  20191212            NaN  20191224090000     전체 관람가            N
4  20190411            NaN  20190418090000    12세 관람가            N

  META_MANUF_CTRY_NM_1  ... META_GNR_NM_3 META_GNR_NM_4 META_GNR_NM_5  \
0                 대한민국  ...           NaN           NaN           NaN
1                   홍콩  ...           NaN           NaN           NaN
2                   독일  ...           NaN           NaN           NaN
3                   일본  ...           NaN           NaN           NaN
4                 노르웨이  ...           NaN           NaN           NaN

  META_GNR_NM_6 MANUFCO_NM_1 MANUFCO_NM_2 MANUFCO_NM_3 DSTBTCO_NM_1  \
0           NaN   (주)제이엠컬쳐스     (주)몬스터팩토리          NaN    (주)스마일이엔티
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN      영화사 진진
3           NaN          NaN          NaN          NaN     (주)디오시네마
4           NaN          NaN          NaN          NaN     (주)엣나인필름

  DSTBTCO_NM_2 DSTBTCO_NM_3
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN

[5 rows x 26 columns]

### 최종 전처리 Dataframe -  movie_list_basedata_v6

In [343]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_basedata_v6.to_csv("data/movie_list_basedata_preprocessing_" + nowDate.strftime("%Y%m%d%H%M%S") + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##

## 감독 정보 rawdata목록 불러오기 - eh_meta_basedata_200623_v0.1.csv

In [345]:
movie_list_directordata = pd.read_csv('raw/eh_meta_directordata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_directordata.columns)
print(movie_list_directordata.shape[0])
print(movie_list_directordata.head())

Index(['META_ID', 'PRS_ID', 'PRS_NM', 'PRS_ROLE_NM', 'FILMOGRAPHY'], dtype='object')
595
        META_ID        PRS_ID     PRS_NM PRS_ROLE_NM  \
0  MM1000103011  MP0000052678  크리스티앙 알바트      감독(연출)
1  MM1000109497  MP0000052678  크리스티앙 알바트      감독(연출)
2  MM1000114876  MP1000003556        금패진      감독(연출)
3  MM1000115034  MP0000112474    마크 로테문트      감독(연출)
4  MM1000115408  MP0000005457   파올로 타비아니      감독(연출)

                                         FILMOGRAPHY
0  돈 겟 아웃!|미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션...
1  돈 겟 아웃!|미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션...
2                                         완벽한 그녀의 비밀
3                                         디스 크레이지 하트
4                                        레인보우: 나의 사랑

## 중복컬럼명 변경

In [346]:
movie_list_directordata_v1 = movie_list_directordata

movie_list_directordata_v1.rename(columns = {'PRS_ID' : 'DIR_PRS_ID', 
                                          'PRS_NM' : 'DIR_PRS_NM', 
                                          'PRS_ROLE_NM' : 'DIR_PRS_ROLE_NM'
                                         }, inplace = True)

print(movie_list_directordata_v1.columns)

Index(['META_ID', 'DIR_PRS_ID', 'DIR_PRS_NM', 'DIR_PRS_ROLE_NM',
       'FILMOGRAPHY'],
      dtype='object')

## 연출작(FILMOGRAPHY) 병렬 처리

In [347]:
d1 = 1
for d1 in range(1,100):
    movie_list_directordata_v1['DIR_FILMOGRAPHY_' + str(d1)] = movie_list_directordata_v1.FILMOGRAPHY.str.split("|").str[d1-1]
    if any(pd.notnull(movie_list_directordata_v1['DIR_FILMOGRAPHY_' + str(d1)]) == True) == False :
        movie_list_directordata_v1.drop(['DIR_FILMOGRAPHY_' + str(d1)], axis= 1, inplace = True)
        break
    d1 = d1 + 1

print(movie_list_directordata_v1.columns)
print(movie_list_directordata_v1.head())

## FILMOGRAPHY 컬럼 삭제

In [348]:
movie_list_directordata_v2 =  movie_list_directordata_v1.drop(['FILMOGRAPHY'], axis= 1)
print(movie_list_directordata_v2.columns)
print(movie_list_directordata_v2.head())

Index(['META_ID', 'DIR_PRS_ID', 'DIR_PRS_NM', 'DIR_PRS_ROLE_NM',
       'DIR_FILMOGRAPHY_1', 'DIR_FILMOGRAPHY_2', 'DIR_FILMOGRAPHY_3',
       'DIR_FILMOGRAPHY_4', 'DIR_FILMOGRAPHY_5', 'DIR_FILMOGRAPHY_6'],
      dtype='object')
        META_ID    DIR_PRS_ID DIR_PRS_NM DIR_PRS_ROLE_NM DIR_FILMOGRAPHY_1  \
0  MM1000103011  MP0000052678  크리스티앙 알바트          감독(연출)           돈 겟 아웃!
1  MM1000109497  MP0000052678  크리스티앙 알바트          감독(연출)           돈 겟 아웃!
2  MM1000114876  MP1000003556        금패진          감독(연출)        완벽한 그녀의 비밀
3  MM1000115034  MP0000112474    마크 로테문트          감독(연출)        디스 크레이지 하트
4  MM1000115408  MP0000005457   파올로 타비아니          감독(연출)       레인보우: 나의 사랑

  DIR_FILMOGRAPHY_2   DIR_FILMOGRAPHY_3 DIR_FILMOGRAPHY_4 DIR_FILMOGRAPHY_5  \
0  미션 이스탄불 5: 더 파이널  미션 이스탄불 4: 익스트림 데이  미션 이스탄불 3: 더 리벤지           미션 이스탄불
1  미션 이스탄불 5: 더 파이널  미션 이스탄불 4: 익스트림 데이  미션 이스탄불 3: 더 리벤지           미션 이스탄불
2               NaN                 NaN               NaN               NaN
3               NaN                 NaN               NaN               NaN
4               NaN                 NaN               NaN               NaN

  DIR_FILMOGRAPHY_6
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN

### 최종 전처리 Dataframe - movie_list_directordata_v2

In [349]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_directordata_v2.to_csv("data/movie_list_directordata_preprocessing_" + nowDate.strftime("%Y%m%d%H%M%S") + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##

## 출연자 정보 rawdata목록 불러오기 - eh_meta_actordata_200623_v0.1.csv

In [350]:
movie_list_actordata = pd.read_csv('raw/eh_meta_actordata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_actordata.columns)
print(movie_list_actordata.shape[0])
print(movie_list_actordata.head())

Index(['META_ID', 'PRS_ID', 'PRS_NM', 'PRS_ROLE_NM', 'FILMOGRAPHY'], dtype='object')
2200
        META_ID        PRS_ID    PRS_NM PRS_ROLE_NM  \
0  MM1000103011  MP0000064883  보탄 빌케 모링          주연
1  MM1000103011  MP0000154188     노라 허츠          주연
2  MM1000103011           NaN       NaN         NaN
3  MM1000109497  MP0000001592    틸 슈바이거          주연
4  MM1000109497  MP0000146403   루나 슈바이거          주연

                                         FILMOGRAPHY
0                                            돈 겟 아웃!
1                                            돈 겟 아웃!
2                                                NaN
3  미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불 3:...
4        미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불

## 중복 컬럼명 변경

In [352]:
movie_list_actordata.rename(columns = {'PRS_ID' : 'ACT_PRS_ID', 
                                       'PRS_NM' : 'ACT_PRS_NM', 
                                       'PRS_ROLE_NM' : 'ACT_PRS_ROLE_NM'
                                         }, inplace = True)

print(movie_list_actordata.columns)

Index(['META_ID', 'ACT_PRS_ID', 'ACT_PRS_NM', 'ACT_PRS_ROLE_NM',
       'FILMOGRAPHY'],
      dtype='object')

## PRS_ID가 Null인 row 삭제

In [353]:
movie_list_actordata_v1 = movie_list_actordata.dropna(subset = ['ACT_PRS_ID'])
print(movie_list_actordata_v1)

           META_ID    ACT_PRS_ID  ACT_PRS_NM ACT_PRS_ROLE_NM  \
0     MM1000103011  MP0000064883    보탄 빌케 모링              주연
1     MM1000103011  MP0000154188       노라 허츠              주연
3     MM1000109497  MP0000001592      틸 슈바이거              주연
4     MM1000109497  MP0000146403     루나 슈바이거              주연
5     MM1000109497  MP0000158516      파리 야르딤              주연
...            ...           ...         ...             ...
2193  MM1000369291  MP1000009476     다이고 코타로          외국어목소리
2194  MM1000369291  MP1000016762       모리나나           외국어목소리
2196  MM1000372029  MP0000033199      멜라니 로랑              주연
2197  MM1000372029  MP0000051745    랭글리 커크우드              주연
2198  MM1000372029  MP1000017024  다니아 드 빌리어스              주연

                                            FILMOGRAPHY
0                                               돈 겟 아웃!
1                                               돈 겟 아웃!
3     미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불 3:...
4           미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불
5     미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불 3:...
...                                                 ...
2193                                      날씨의 아이|봉오동 전투
2194                                             날씨의 아이
2196         화이트 라이언 찰리|갤버스턴|몽 가르송|다이빙: 그녀에 빠지다|내일|이터너티
2197                                         화이트 라이언 찰리
2198                                         화이트 라이언 찰리

[1606 rows x 5 columns]

In [354]:
print(movie_list_actordata_v1)

           META_ID    ACT_PRS_ID  ACT_PRS_NM ACT_PRS_ROLE_NM  \
0     MM1000103011  MP0000064883    보탄 빌케 모링              주연
1     MM1000103011  MP0000154188       노라 허츠              주연
3     MM1000109497  MP0000001592      틸 슈바이거              주연
4     MM1000109497  MP0000146403     루나 슈바이거              주연
5     MM1000109497  MP0000158516      파리 야르딤              주연
...            ...           ...         ...             ...
2193  MM1000369291  MP1000009476     다이고 코타로          외국어목소리
2194  MM1000369291  MP1000016762       모리나나           외국어목소리
2196  MM1000372029  MP0000033199      멜라니 로랑              주연
2197  MM1000372029  MP0000051745    랭글리 커크우드              주연
2198  MM1000372029  MP1000017024  다니아 드 빌리어스              주연

                                            FILMOGRAPHY
0                                               돈 겟 아웃!
1                                               돈 겟 아웃!
3     미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불 3:...
4           미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불
5     미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불 3:...
...                                                 ...
2193                                      날씨의 아이|봉오동 전투
2194                                             날씨의 아이
2196         화이트 라이언 찰리|갤버스턴|몽 가르송|다이빙: 그녀에 빠지다|내일|이터너티
2197                                         화이트 라이언 찰리
2198                                         화이트 라이언 찰리

[1606 rows x 5 columns]

## 출연작(FILMOGRAPHY) 병렬 처리

In [355]:
a1 = 1
for a1 in range(1,100):
    movie_list_actordata_v1['ACT_FILMOGRAPHY_' + str(a1)] = movie_list_actordata_v1.FILMOGRAPHY.str.split("|").str[a1-1]
    if any(pd.notnull(movie_list_actordata_v1['ACT_FILMOGRAPHY_' + str(a1)]) == True) == False :
        movie_list_actordata_v1.drop(['ACT_FILMOGRAPHY_' + str(a1)], axis= 1, inplace = True)
        break
    a1 = a1 + 1
    
print(movie_list_actordata_v1.columns)
print(movie_list_actordata_v1.head())

Index(['META_ID', 'ACT_PRS_ID', 'ACT_PRS_NM', 'ACT_PRS_ROLE_NM', 'FILMOGRAPHY',
       'ACT_FILMOGRAPHY_1', 'ACT_FILMOGRAPHY_2', 'ACT_FILMOGRAPHY_3',
       'ACT_FILMOGRAPHY_4', 'ACT_FILMOGRAPHY_5', 'ACT_FILMOGRAPHY_6',
       'ACT_FILMOGRAPHY_7', 'ACT_FILMOGRAPHY_8', 'ACT_FILMOGRAPHY_9',
       'ACT_FILMOGRAPHY_10', 'ACT_FILMOGRAPHY_11', 'ACT_FILMOGRAPHY_12',
       'ACT_FILMOGRAPHY_13', 'ACT_FILMOGRAPHY_14', 'ACT_FILMOGRAPHY_15',
       'ACT_FILMOGRAPHY_16', 'ACT_FILMOGRAPHY_17', 'ACT_FILMOGRAPHY_18',
       'ACT_FILMOGRAPHY_19', 'ACT_FILMOGRAPHY_20', 'ACT_FILMOGRAPHY_21'],
      dtype='object')
        META_ID    ACT_PRS_ID ACT_PRS_NM ACT_PRS_ROLE_NM  \
0  MM1000103011  MP0000064883   보탄 빌케 모링              주연
1  MM1000103011  MP0000154188      노라 허츠              주연
3  MM1000109497  MP0000001592     틸 슈바이거              주연
4  MM1000109497  MP0000146403    루나 슈바이거              주연
5  MM1000109497  MP0000158516     파리 야르딤              주연

                                         FILMOGRAPHY ACT_FILMOGRAPHY_1  \
0                                            돈 겟 아웃!           돈 겟 아웃!
1                                            돈 겟 아웃!           돈 겟 아웃!
3  미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불 3:...  미션 이스탄불 5: 더 파이널
4        미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불  미션 이스탄불 5: 더 파이널
5  미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불 3:...  미션 이스탄불 5: 더 파이널

    ACT_FILMOGRAPHY_2 ACT_FILMOGRAPHY_3 ACT_FILMOGRAPHY_4 ACT_FILMOGRAPHY_5  \
0                 NaN               NaN               NaN               NaN
1                 NaN               NaN               NaN               NaN
3  미션 이스탄불 4: 익스트림 데이  미션 이스탄불 3: 더 리벤지           스페셜 스쿼드           아토믹 블론드
4  미션 이스탄불 4: 익스트림 데이           미션 이스탄불               NaN               NaN
5  미션 이스탄불 4: 익스트림 데이  미션 이스탄불 3: 더 리벤지           미션 이스탄불               NaN

   ... ACT_FILMOGRAPHY_12 ACT_FILMOGRAPHY_13 ACT_FILMOGRAPHY_14  \
0  ...                NaN                NaN                NaN
1  ...                NaN                NaN                NaN
3  ...                NaN                NaN                NaN
4  ...                NaN                NaN                NaN
5  ...                NaN                NaN                NaN

  ACT_FILMOGRAPHY_15 ACT_FILMOGRAPHY_16 ACT_FILMOGRAPHY_17 ACT_FILMOGRAPHY_18  \
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
3                NaN                NaN                NaN                NaN
4                NaN                NaN                NaN                NaN
5                NaN                NaN                NaN                NaN

  ACT_FILMOGRAPHY_19 ACT_FILMOGRAPHY_20 ACT_FILMOGRAPHY_21
0                NaN                NaN                NaN
1                NaN                NaN                NaN
3                NaN                NaN                NaN
4                NaN                NaN                NaN
5                NaN                NaN                NaN

[5 rows x 26 columns]

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/tljh/user/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

## FILMOGRAPHY 컬럼 삭제

In [356]:
movie_list_actordata_v2 =  movie_list_actordata_v1.drop(['FILMOGRAPHY'], axis= 1)
print(movie_list_actordata_v2.columns)
print(movie_list_actordata_v2.head())

Index(['META_ID', 'ACT_PRS_ID', 'ACT_PRS_NM', 'ACT_PRS_ROLE_NM',
       'ACT_FILMOGRAPHY_1', 'ACT_FILMOGRAPHY_2', 'ACT_FILMOGRAPHY_3',
       'ACT_FILMOGRAPHY_4', 'ACT_FILMOGRAPHY_5', 'ACT_FILMOGRAPHY_6',
       'ACT_FILMOGRAPHY_7', 'ACT_FILMOGRAPHY_8', 'ACT_FILMOGRAPHY_9',
       'ACT_FILMOGRAPHY_10', 'ACT_FILMOGRAPHY_11', 'ACT_FILMOGRAPHY_12',
       'ACT_FILMOGRAPHY_13', 'ACT_FILMOGRAPHY_14', 'ACT_FILMOGRAPHY_15',
       'ACT_FILMOGRAPHY_16', 'ACT_FILMOGRAPHY_17', 'ACT_FILMOGRAPHY_18',
       'ACT_FILMOGRAPHY_19', 'ACT_FILMOGRAPHY_20', 'ACT_FILMOGRAPHY_21'],
      dtype='object')
        META_ID    ACT_PRS_ID ACT_PRS_NM ACT_PRS_ROLE_NM ACT_FILMOGRAPHY_1  \
0  MM1000103011  MP0000064883   보탄 빌케 모링              주연           돈 겟 아웃!
1  MM1000103011  MP0000154188      노라 허츠              주연           돈 겟 아웃!
3  MM1000109497  MP0000001592     틸 슈바이거              주연  미션 이스탄불 5: 더 파이널
4  MM1000109497  MP0000146403    루나 슈바이거              주연  미션 이스탄불 5: 더 파이널
5  MM1000109497  MP0000158516     파리 야르딤              주연  미션 이스탄불 5: 더 파이널

    ACT_FILMOGRAPHY_2 ACT_FILMOGRAPHY_3 ACT_FILMOGRAPHY_4 ACT_FILMOGRAPHY_5  \
0                 NaN               NaN               NaN               NaN
1                 NaN               NaN               NaN               NaN
3  미션 이스탄불 4: 익스트림 데이  미션 이스탄불 3: 더 리벤지           스페셜 스쿼드           아토믹 블론드
4  미션 이스탄불 4: 익스트림 데이           미션 이스탄불               NaN               NaN
5  미션 이스탄불 4: 익스트림 데이  미션 이스탄불 3: 더 리벤지           미션 이스탄불               NaN

  ACT_FILMOGRAPHY_6  ... ACT_FILMOGRAPHY_12 ACT_FILMOGRAPHY_13  \
0               NaN  ...                NaN                NaN
1               NaN  ...                NaN                NaN
3           미션 이스탄불  ...                NaN                NaN
4               NaN  ...                NaN                NaN
5               NaN  ...                NaN                NaN

  ACT_FILMOGRAPHY_14 ACT_FILMOGRAPHY_15 ACT_FILMOGRAPHY_16 ACT_FILMOGRAPHY_17  \
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
3                NaN                NaN                NaN                NaN
4                NaN                NaN                NaN                NaN
5                NaN                NaN                NaN                NaN

  ACT_FILMOGRAPHY_18 ACT_FILMOGRAPHY_19 ACT_FILMOGRAPHY_20 ACT_FILMOGRAPHY_21
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
3                NaN                NaN                NaN                NaN
4                NaN                NaN                NaN                NaN
5                NaN                NaN                NaN                NaN

[5 rows x 25 columns]

### 최종 전처리 Dataframe - movie_list_actordata_v2

In [357]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_actordata_v2.to_csv("data/movie_list_acctordata_preprocessing_" + nowDate.strftime("%Y%m%d%H%M%S") + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##

## 수상내역 rawdata목록 불러오기 - eh_meta_prizedata_200623_v0.1

In [358]:
movie_list_prizedata = pd.read_csv('raw/eh_meta_prizedata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_prizedata.columns)
print(movie_list_prizedata.shape[0])
print(movie_list_prizedata.head())

Index(['META_ID', 'PRIZE_YN', 'PRIZE_CNT'], dtype='object')
595
        META_ID PRIZE_YN  PRIZE_CNT
0  MM1000340018        Y          3
1  MM1000329732        Y          1
2  MM1000227591        Y          1
3  MM1000167934        Y          4
4  MM1000142829        Y          2

### 최종 전처리 Dataframe - movie_list_prizedata

In [359]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_prizedata.to_csv("data/movie_list_prizedata_preprocessing_" + nowDate.strftime("%Y%m%d%H%M%S") + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##

## 평점내역 rawdata목록 불러오기 - eh_meta_pointdata_200623_v0.1

In [360]:
movie_list_pointdata = pd.read_csv('raw/eh_meta_pointdata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_pointdata.columns)
print(movie_list_pointdata.shape[0])
print(movie_list_pointdata.head())

Index(['META_ID', 'BTV_LIKE_NCNT', 'BTV_NGOOD_NCNT', 'BTV_PNT',
       'WATCHA_EVAL_NCNT', 'WATCHA_RVW_PNT', 'CINE21_EVAL_NCNT',
       'CINE21_NTNZ_PNT', 'CINE21_CRTC_PNT'],
      dtype='object')
595
        META_ID  BTV_LIKE_NCNT  BTV_NGOOD_NCNT  BTV_PNT  WATCHA_EVAL_NCNT  \
0  MM1000131615        34540.0          1025.0      NaN           54616.0
1  MM1000143771            NaN             NaN      NaN            2017.0
2  MM1000160235           20.0             8.0      NaN             433.0
3  MM1000167168        15929.0          2911.0      NaN           78479.0
4  MM1000180060          326.0            64.0      NaN            5850.0

   WATCHA_RVW_PNT  CINE21_EVAL_NCNT  CINE21_NTNZ_PNT  CINE21_CRTC_PNT
0            3.62               4.0             7.33              8.0
1            3.25               2.0             6.00              6.0
2            2.79               1.0              NaN              6.0
3            3.25               9.0             5.75              6.8
4            3.45               6.0             6.50              7.0

## 불필요한 컬럼 삭제

In [361]:
movie_list_pointdata_v1 =  movie_list_pointdata.drop(['BTV_PNT'], axis= 1)
print(movie_list_pointdata_v1.columns)
print(movie_list_pointdata_v1.head())

Index(['META_ID', 'BTV_LIKE_NCNT', 'BTV_NGOOD_NCNT', 'WATCHA_EVAL_NCNT',
       'WATCHA_RVW_PNT', 'CINE21_EVAL_NCNT', 'CINE21_NTNZ_PNT',
       'CINE21_CRTC_PNT'],
      dtype='object')
        META_ID  BTV_LIKE_NCNT  BTV_NGOOD_NCNT  WATCHA_EVAL_NCNT  \
0  MM1000131615        34540.0          1025.0           54616.0
1  MM1000143771            NaN             NaN            2017.0
2  MM1000160235           20.0             8.0             433.0
3  MM1000167168        15929.0          2911.0           78479.0
4  MM1000180060          326.0            64.0            5850.0

   WATCHA_RVW_PNT  CINE21_EVAL_NCNT  CINE21_NTNZ_PNT  CINE21_CRTC_PNT
0            3.62               4.0             7.33              8.0
1            3.25               2.0             6.00              6.0
2            2.79               1.0              NaN              6.0
3            3.25               9.0             5.75              6.8
4            3.45               6.0             6.50              7.0

### 최종 전처리 Dataframe - movie_list_pointdata_v1

In [362]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_pointdata_v1.to_csv("data/movie_list_pointdata_preprocessing_" + nowDate.strftime("%Y%m%d%H%M%S") + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##

## 리뷰내역 rawdata목록 불러오기 - eh_meta_rvwdata_200623_v0.1

In [363]:
movie_list_rvwdata = pd.read_csv('raw/eh_meta_rvwdata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_rvwdata.columns)
print(movie_list_rvwdata.shape[0])
print(movie_list_rvwdata.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'SNSS_CTS',
       'CINE21_CTSC_NM', 'CINE21_COMT_CTSC'],
      dtype='object')
595
        META_ID        META_TITLE SUB_TITLE             ENGL_TITLE  \
0  MM1000103011           돈 겟 아웃!       NaN         Don't Get Out!
1  MM1000109497  미션 이스탄불 5: 더 파이널       NaN              Fegefeuer
2  MM1000114876        완벽한 그녀의 비밀       NaN       The Perfect Girl
3  MM1000115034        디스 크레이지 하트       NaN       This Crazy Heart
4  MM1000115408       레인보우: 나의 사랑       NaN  Una questione privata

                                            SNSS_CTS CINE21_CTSC_NM  \
0  폭탄이 설치된 차량, 가족을 구해야 한다.\r\n결혼기념일을 맞이하여 집에 돌아온 ...            NaN
1  무장한 테러범들이 방송국을 급습하는 사건이 온 도시를 발칵 뒤집고 피랫의 석방을 요...        김현수|박평식
2  아름다운 여대생 ‘예신’은 멋진 남자친구 ‘미아오’와 연애중이다.\r\n어느 날 폭...            NaN
3                         불치병 소년과 바람둥이 청년의 우정을 그린 영화            NaN
4  모든 사람이 꿈꾸어 왔던 소설\r\n20세기 이탈리안들이 가슴에 품은 단 하나의 러...            이주현

            CINE21_COMT_CTSC
0                        NaN
1  뭉그적뭉그적 미션|제철 지난 독일판 <테이큰>
2                        NaN
3                        NaN
4    스크린 너머로는 전해지지 않는 사랑의 열병

## 불필요한 컬럼 삭제

In [364]:
movie_list_rvwdata_v1 =  movie_list_rvwdata.drop(['META_TITLE','SUB_TITLE','ENGL_TITLE','CINE21_CTSC_NM'], axis= 1)
print(movie_list_rvwdata_v1.columns)
print(movie_list_rvwdata_v1.head())

Index(['META_ID', 'SNSS_CTS', 'CINE21_COMT_CTSC'], dtype='object')
        META_ID                                           SNSS_CTS  \
0  MM1000103011  폭탄이 설치된 차량, 가족을 구해야 한다.\r\n결혼기념일을 맞이하여 집에 돌아온 ...
1  MM1000109497  무장한 테러범들이 방송국을 급습하는 사건이 온 도시를 발칵 뒤집고 피랫의 석방을 요...
2  MM1000114876  아름다운 여대생 ‘예신’은 멋진 남자친구 ‘미아오’와 연애중이다.\r\n어느 날 폭...
3  MM1000115034                         불치병 소년과 바람둥이 청년의 우정을 그린 영화
4  MM1000115408  모든 사람이 꿈꾸어 왔던 소설\r\n20세기 이탈리안들이 가슴에 품은 단 하나의 러...

            CINE21_COMT_CTSC
0                        NaN
1  뭉그적뭉그적 미션|제철 지난 독일판 <테이큰>
2                        NaN
3                        NaN
4    스크린 너머로는 전해지지 않는 사랑의 열병

## 씨네21전문가리뷰 (CINE21_COMT_CTSC) 병렬 처리

In [366]:
r1 = 1
for i1 in range(1,100):
    movie_list_rvwdata_v1['CINE21_COMT_CTSC_' + str(r1)] = movie_list_rvwdata_v1.CINE21_COMT_CTSC.str.split("|").str[r1-1]
    if any(pd.notnull(movie_list_rvwdata_v1['CINE21_COMT_CTSC_' + str(r1)]) == True) == False :
        movie_list_rvwdata_v1.drop(['CINE21_COMT_CTSC_' + str(r1)], axis= 1, inplace = True)
        break
    r1 = r1 + 1
    
print(movie_list_rvwdata_v1.columns)
print(movie_list_rvwdata_v1.head())

Index(['META_ID', 'SNSS_CTS', 'CINE21_COMT_CTSC', 'CINE21_COMT_CTSC_1',
       'CINE21_COMT_CTSC_2', 'CINE21_COMT_CTSC_3', 'CINE21_COMT_CTSC_4',
       'CINE21_COMT_CTSC_5', 'CINE21_COMT_CTSC_6', 'CINE21_COMT_CTSC_7',
       'CINE21_COMT_CTSC_8', 'CINE21_COMT_CTSC_9', 'CINE21_COMT_CTSC_10',
       'CINE21_COMT_CTSC_11'],
      dtype='object')
        META_ID                                           SNSS_CTS  \
0  MM1000103011  폭탄이 설치된 차량, 가족을 구해야 한다.\r\n결혼기념일을 맞이하여 집에 돌아온 ...
1  MM1000109497  무장한 테러범들이 방송국을 급습하는 사건이 온 도시를 발칵 뒤집고 피랫의 석방을 요...
2  MM1000114876  아름다운 여대생 ‘예신’은 멋진 남자친구 ‘미아오’와 연애중이다.\r\n어느 날 폭...
3  MM1000115034                         불치병 소년과 바람둥이 청년의 우정을 그린 영화
4  MM1000115408  모든 사람이 꿈꾸어 왔던 소설\r\n20세기 이탈리안들이 가슴에 품은 단 하나의 러...

            CINE21_COMT_CTSC       CINE21_COMT_CTSC_1 CINE21_COMT_CTSC_2  \
0                        NaN                      NaN                NaN
1  뭉그적뭉그적 미션|제철 지난 독일판 <테이큰>                뭉그적뭉그적 미션    제철 지난 독일판 <테이큰>
2                        NaN                      NaN                NaN
3                        NaN                      NaN                NaN
4    스크린 너머로는 전해지지 않는 사랑의 열병  스크린 너머로는 전해지지 않는 사랑의 열병                NaN

  CINE21_COMT_CTSC_3 CINE21_COMT_CTSC_4 CINE21_COMT_CTSC_5 CINE21_COMT_CTSC_6  \
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
2                NaN                NaN                NaN                NaN
3                NaN                NaN                NaN                NaN
4                NaN                NaN                NaN                NaN

  CINE21_COMT_CTSC_7 CINE21_COMT_CTSC_8 CINE21_COMT_CTSC_9  \
0                NaN                NaN                NaN
1                NaN                NaN                NaN
2                NaN                NaN                NaN
3                NaN                NaN                NaN
4                NaN                NaN                NaN

  CINE21_COMT_CTSC_10 CINE21_COMT_CTSC_11
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN

## 씨네21전문가리뷰 (CINE21_COMT_CTSC) 컬럼 삭제

In [367]:
movie_list_rvwdata_v2 =  movie_list_rvwdata_v1.drop(['CINE21_COMT_CTSC'], axis= 1)
print(movie_list_rvwdata_v2.columns)

Index(['META_ID', 'SNSS_CTS', 'CINE21_COMT_CTSC_1', 'CINE21_COMT_CTSC_2',
       'CINE21_COMT_CTSC_3', 'CINE21_COMT_CTSC_4', 'CINE21_COMT_CTSC_5',
       'CINE21_COMT_CTSC_6', 'CINE21_COMT_CTSC_7', 'CINE21_COMT_CTSC_8',
       'CINE21_COMT_CTSC_9', 'CINE21_COMT_CTSC_10', 'CINE21_COMT_CTSC_11'],
      dtype='object')

### 최종 전처리 Dataframe - movie_list_rvwdata_v2

In [368]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_rvwdata_v2.to_csv("data/movie_list_rvwdata_preprocessing_" + nowDate.strftime("%Y%m%d%H%M%S") + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##

In [296]:
s1 = 1
for s1 in range(1,movie_list_actordata_v2.shape[0]):
    globals()['variable{}'.format(s1)] = pd.DataFrame(movie_list_actordata_v2.iloc[s1-1,])
    s1 = s1 + 1

In [299]:
variable1

                           0
META_ID         MM1000103011
PRS_ID          MP0000064883
PRS_NM              보탄 빌케 모링
PRS_ROLE_NM               주연
FILMOGRAPHY_1        돈 겟 아웃!
FILMOGRAPHY_2            NaN
FILMOGRAPHY_3            NaN
FILMOGRAPHY_4            NaN
FILMOGRAPHY_5            NaN
FILMOGRAPHY_6            NaN
FILMOGRAPHY_7            NaN
FILMOGRAPHY_8            NaN
FILMOGRAPHY_9            NaN
FILMOGRAPHY_10           NaN
FILMOGRAPHY_11           NaN
FILMOGRAPHY_12           NaN
FILMOGRAPHY_13           NaN
FILMOGRAPHY_14           NaN
FILMOGRAPHY_15           NaN
FILMOGRAPHY_16           NaN
FILMOGRAPHY_17           NaN
FILMOGRAPHY_18           NaN
FILMOGRAPHY_19           NaN
FILMOGRAPHY_20           NaN
FILMOGRAPHY_21           NaN

In [317]:
a = pd.concat([variable1, variable2, variable3], axis=1, join='outer')

In [318]:
a

                           0             1                   3
META_ID         MM1000103011  MM1000103011        MM1000109497
PRS_ID          MP0000064883  MP0000154188        MP0000001592
PRS_NM              보탄 빌케 모링         노라 허츠              틸 슈바이거
PRS_ROLE_NM               주연            주연                  주연
FILMOGRAPHY_1        돈 겟 아웃!       돈 겟 아웃!    미션 이스탄불 5: 더 파이널
FILMOGRAPHY_2            NaN           NaN  미션 이스탄불 4: 익스트림 데이
FILMOGRAPHY_3            NaN           NaN    미션 이스탄불 3: 더 리벤지
FILMOGRAPHY_4            NaN           NaN             스페셜 스쿼드
FILMOGRAPHY_5            NaN           NaN             아토믹 블론드
FILMOGRAPHY_6            NaN           NaN             미션 이스탄불
FILMOGRAPHY_7            NaN           NaN                 NaN
FILMOGRAPHY_8            NaN           NaN                 NaN
FILMOGRAPHY_9            NaN           NaN                 NaN
FILMOGRAPHY_10           NaN           NaN                 NaN
FILMOGRAPHY_11           NaN           NaN                 NaN
FILMOGRAPHY_12           NaN           NaN                 NaN
FILMOGRAPHY_13           NaN           NaN                 NaN
FILMOGRAPHY_14           NaN           NaN                 NaN
FILMOGRAPHY_15           NaN           NaN                 NaN
FILMOGRAPHY_16           NaN           NaN                 NaN
FILMOGRAPHY_17           NaN           NaN                 NaN
FILMOGRAPHY_18           NaN           NaN                 NaN
FILMOGRAPHY_19           NaN           NaN                 NaN
FILMOGRAPHY_20           NaN           NaN                 NaN
FILMOGRAPHY_21           NaN           NaN                 NaN

In [263]:
movie_list_actordata_raw1 = movie_list_actordata_v2.iloc[0,]

In [264]:
movie_list_actordata_raw1

META_ID           MM1000103011
PRS_ID            MP0000064883
PRS_NM                보탄 빌케 모링
PRS_ROLE_NM                 주연
FILMOGRAPHY_1          돈 겟 아웃!
FILMOGRAPHY_2              NaN
FILMOGRAPHY_3              NaN
FILMOGRAPHY_4              NaN
FILMOGRAPHY_5              NaN
FILMOGRAPHY_6              NaN
FILMOGRAPHY_7              NaN
FILMOGRAPHY_8              NaN
FILMOGRAPHY_9              NaN
FILMOGRAPHY_10             NaN
FILMOGRAPHY_11             NaN
FILMOGRAPHY_12             NaN
FILMOGRAPHY_13             NaN
FILMOGRAPHY_14             NaN
FILMOGRAPHY_15             NaN
FILMOGRAPHY_16             NaN
FILMOGRAPHY_17             NaN
FILMOGRAPHY_18             NaN
FILMOGRAPHY_19             NaN
FILMOGRAPHY_20             NaN
FILMOGRAPHY_21             NaN
Name: 0, dtype: object