In [1]:
import numpy as np
import pandas as pd

### 디렉토리 변경

In [15]:
import os
print(os.getcwd())
os.chdir("/home/jupyter-lehup/")
print(os.getcwd())

/home/jupyter-lehup
/home/jupyter-lehup

## 기준 정보 rawdata목록 불러오기 - eh_meta_basedata_200623_v0.1.csv

In [16]:
movie_list_basedata = pd.read_csv('raw/eh_meta_basedata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_basedata.columns)
print(movie_list_basedata.shape[0])
print(movie_list_basedata.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'SRIS_NM', 'BTV_OPEN_DT', 'META_MANUF_CTRY_CD',
       'META_MANUF_CTRY_NM', 'GNR_ID', 'META_GNR_NM', 'WAT_LVL_CD',
       'WAT_LVL_NM', 'MANUFCO_NM', 'DSTBTCO_NM', 'SSTRY_CIN_YN', 'KIDS_YN'],
      dtype='object')
595
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT                     SRIS_NM     BTV_OPEN_DT  \
0  20190529        59344.0                 0.0MHz[캐치온]  20190812090000
1  20191212            NaN                         1+3  20191212090000
2  20190912          707.0  100일 동안 100가지로 100퍼센트 행복찾기  20190930090000
3  20191212            NaN                         10년  20191224090000
4  20190411            NaN                     12번째 솔저  20190418090000

  META_MANUF_CTRY_CD META_MANUF_CTRY_NM                     GNR_ID  \
0                001               대한민국  MG0000000001|MG0000000004
1                006                 홍콩  MG0000000001|MG0000000011
2                013                 독일  MG0000000001|MG0000000010
3                003                 일본  MG0000000001|MG0000000014
4                053               노르웨이  MG0000000001|MG0000000009

  META_GNR_NM  WAT_LVL_CD WAT_LVL_NM             MANUFCO_NM DSTBTCO_NM  \
0  드라마|공포(호러)          15    15세 관람가  (주)제이엠컬쳐스 , (주)몬스터팩토리  (주)스마일이엔티
1  드라마|멜로/로맨스          19    19세 관람가                    NaN        NaN
2     드라마|코미디          15    15세 관람가                    NaN    영화사 진진
3      드라마|가족           0     전체 관람가                    NaN   (주)디오시네마
4      드라마|전쟁          12    12세 관람가                    NaN   (주)엣나인필름

  SSTRY_CIN_YN  KIDS_YN
0            N      NaN
1            N      NaN
2            N      NaN
3            N      NaN
4            N      NaN

## 코드로 작성된 Vecotor 컬럼 삭제

In [17]:
movie_list_basedata_v1 =  movie_list_basedata.drop(['META_MANUF_CTRY_CD', 'GNR_ID', 'WAT_LVL_CD'], axis= 1)
print(movie_list_basedata_v1.columns)
print(movie_list_basedata_v1.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'SRIS_NM', 'BTV_OPEN_DT', 'META_MANUF_CTRY_NM',
       'META_GNR_NM', 'WAT_LVL_NM', 'MANUFCO_NM', 'DSTBTCO_NM', 'SSTRY_CIN_YN',
       'KIDS_YN'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

    OPEN_DY  DMST_SPCT_CNT                     SRIS_NM     BTV_OPEN_DT  \
0  20190529        59344.0                 0.0MHz[캐치온]  20190812090000
1  20191212            NaN                         1+3  20191212090000
2  20190912          707.0  100일 동안 100가지로 100퍼센트 행복찾기  20190930090000
3  20191212            NaN                         10년  20191224090000
4  20190411            NaN                     12번째 솔저  20190418090000

  META_MANUF_CTRY_NM META_GNR_NM WAT_LVL_NM             MANUFCO_NM DSTBTCO_NM  \
0               대한민국  드라마|공포(호러)    15세 관람가  (주)제이엠컬쳐스 , (주)몬스터팩토리  (주)스마일이엔티
1                 홍콩  드라마|멜로/로맨스    19세 관람가                    NaN        NaN
2                 독일     드라마|코미디    15세 관람가                    NaN    영화사 진진
3                 일본      드라마|가족     전체 관람가                    NaN   (주)디오시네마
4               노르웨이      드라마|전쟁    12세 관람가                    NaN   (주)엣나인필름

  SSTRY_CIN_YN  KIDS_YN
0            N      NaN
1            N      NaN
2            N      NaN
3            N      NaN
4            N      NaN

## 불필요한 컬럼 삭제

In [18]:
movie_list_basedata_v2 =  movie_list_basedata_v1.drop(['SRIS_NM', 'KIDS_YN'], axis= 1)
print(movie_list_basedata_v2.columns)

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'OPEN_DY',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'META_MANUF_CTRY_NM', 'META_GNR_NM',
       'WAT_LVL_NM', 'MANUFCO_NM', 'DSTBTCO_NM', 'SSTRY_CIN_YN'],
      dtype='object')

## 컬럼명 기준정보에 맞춰 변경

In [25]:
movie_list_basedata_v2_1 = movie_list_basedata_v2

movie_list_basedata_v2_1.rename(columns = {'OPEN_DY' : 'CIN_OPEN_DT', 
                                           'META_MANUF_CTRY_NM' : 'CTRY_CD', 
                                           'META_GNR_NM' : 'GNR_ID',
                                           'WAT_LVL_NM' : 'WAT_LVL_CD'
                                         }, inplace = True)

print(movie_list_basedata_v2_1.columns)

movie_list_basedata_v2 = movie_list_basedata_v2_1

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'CIN_OPEN_DT',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'CTRY_CD', 'GNR_ID', 'WAT_LVL_CD',
       'MANUFCO_NM', 'DSTBTCO_NM', 'SSTRY_CIN_YN'],
      dtype='object')

# '|' 구분자로 된 데이터 신규 컬럼으로 병렬 처리

##  제작국가(META_MANUF_CTRY_NM) 병렬 처리

In [26]:
i1 = 1
for i1 in range(1,100):
    movie_list_basedata_v2['CTRY_CD_' + str(i1)] = movie_list_basedata_v2.CTRY_CD.str.split("|").str[i1-1]
    if any(pd.notnull(movie_list_basedata_v2['CTRY_CD_' + str(i1)]) == True) == False :
        movie_list_basedata_v2.drop(['CTRY_CD_' + str(i1)], axis= 1, inplace = True)
        break
    i1 = i1 + 1

In [27]:
print(movie_list_basedata_v2.columns)
print(movie_list_basedata_v2.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'CIN_OPEN_DT',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'CTRY_CD', 'GNR_ID', 'WAT_LVL_CD',
       'MANUFCO_NM', 'DSTBTCO_NM', 'SSTRY_CIN_YN', 'CTRY_CD_1', 'CTRY_CD_2',
       'CTRY_CD_3', 'CTRY_CD_4', 'CTRY_CD_5'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

   CIN_OPEN_DT  DMST_SPCT_CNT     BTV_OPEN_DT CTRY_CD      GNR_ID WAT_LVL_CD  \
0     20190529        59344.0  20190812090000    대한민국  드라마|공포(호러)    15세 관람가
1     20191212            NaN  20191212090000      홍콩  드라마|멜로/로맨스    19세 관람가
2     20190912          707.0  20190930090000      독일     드라마|코미디    15세 관람가
3     20191212            NaN  20191224090000      일본      드라마|가족     전체 관람가
4     20190411            NaN  20190418090000    노르웨이      드라마|전쟁    12세 관람가

              MANUFCO_NM DSTBTCO_NM SSTRY_CIN_YN CTRY_CD_1 CTRY_CD_2  \
0  (주)제이엠컬쳐스 , (주)몬스터팩토리  (주)스마일이엔티            N      대한민국       NaN
1                    NaN        NaN            N        홍콩       NaN
2                    NaN    영화사 진진             N        독일       NaN
3                    NaN   (주)디오시네마            N        일본       NaN
4                    NaN   (주)엣나인필름            N      노르웨이       NaN

  CTRY_CD_3 CTRY_CD_4 CTRY_CD_5
0       NaN       NaN       NaN
1       NaN       NaN       NaN
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN

## 제작국가(META_MANUF_CTRY_NM) 컬럼 삭제

In [28]:
movie_list_basedata_v3 =  movie_list_basedata_v2.drop(['CTRY_CD'], axis= 1)
print(movie_list_basedata_v3.columns)

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'CIN_OPEN_DT',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'GNR_ID', 'WAT_LVL_CD', 'MANUFCO_NM',
       'DSTBTCO_NM', 'SSTRY_CIN_YN', 'CTRY_CD_1', 'CTRY_CD_2', 'CTRY_CD_3',
       'CTRY_CD_4', 'CTRY_CD_5'],
      dtype='object')

## 장르(META_GNR_NM) 병렬 처리

In [29]:
i2 = 1
for i2 in range(1,100):
    movie_list_basedata_v3['GNR_ID_' + str(i2)] = movie_list_basedata_v3.GNR_ID.str.split("|").str[i2-1]
    if any(pd.notnull(movie_list_basedata_v3['GNR_ID_' + str(i2)]) == True) == False :
        movie_list_basedata_v3.drop(['GNR_ID_' + str(i2)], axis= 1, inplace = True)
        break
    i2 = i2 + 1

In [30]:
print(movie_list_basedata_v3.columns)
print(movie_list_basedata_v3.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'CIN_OPEN_DT',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'GNR_ID', 'WAT_LVL_CD', 'MANUFCO_NM',
       'DSTBTCO_NM', 'SSTRY_CIN_YN', 'CTRY_CD_1', 'CTRY_CD_2', 'CTRY_CD_3',
       'CTRY_CD_4', 'CTRY_CD_5', 'GNR_ID_1', 'GNR_ID_2', 'GNR_ID_3',
       'GNR_ID_4', 'GNR_ID_5', 'GNR_ID_6'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

   CIN_OPEN_DT  DMST_SPCT_CNT     BTV_OPEN_DT      GNR_ID WAT_LVL_CD  \
0     20190529        59344.0  20190812090000  드라마|공포(호러)    15세 관람가
1     20191212            NaN  20191212090000  드라마|멜로/로맨스    19세 관람가
2     20190912          707.0  20190930090000     드라마|코미디    15세 관람가
3     20191212            NaN  20191224090000      드라마|가족     전체 관람가
4     20190411            NaN  20190418090000      드라마|전쟁    12세 관람가

              MANUFCO_NM  ... CTRY_CD_2 CTRY_CD_3 CTRY_CD_4 CTRY_CD_5  \
0  (주)제이엠컬쳐스 , (주)몬스터팩토리  ...       NaN       NaN       NaN       NaN
1                    NaN  ...       NaN       NaN       NaN       NaN
2                    NaN  ...       NaN       NaN       NaN       NaN
3                    NaN  ...       NaN       NaN       NaN       NaN
4                    NaN  ...       NaN       NaN       NaN       NaN

  GNR_ID_1 GNR_ID_2 GNR_ID_3 GNR_ID_4 GNR_ID_5 GNR_ID_6
0      드라마   공포(호러)      NaN      NaN      NaN      NaN
1      드라마   멜로/로맨스      NaN      NaN      NaN      NaN
2      드라마      코미디      NaN      NaN      NaN      NaN
3      드라마       가족      NaN      NaN      NaN      NaN
4      드라마       전쟁      NaN      NaN      NaN      NaN

[5 rows x 23 columns]

## 장르 (META_GNR_NM) 컬럼 삭제

In [31]:
movie_list_basedata_v4 =  movie_list_basedata_v3.drop(['GNR_ID'], axis= 1)
print(movie_list_basedata_v4.columns)
print(movie_list_basedata_v4.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'CIN_OPEN_DT',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'WAT_LVL_CD', 'MANUFCO_NM',
       'DSTBTCO_NM', 'SSTRY_CIN_YN', 'CTRY_CD_1', 'CTRY_CD_2', 'CTRY_CD_3',
       'CTRY_CD_4', 'CTRY_CD_5', 'GNR_ID_1', 'GNR_ID_2', 'GNR_ID_3',
       'GNR_ID_4', 'GNR_ID_5', 'GNR_ID_6'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

   CIN_OPEN_DT  DMST_SPCT_CNT     BTV_OPEN_DT WAT_LVL_CD  \
0     20190529        59344.0  20190812090000    15세 관람가
1     20191212            NaN  20191212090000    19세 관람가
2     20190912          707.0  20190930090000    15세 관람가
3     20191212            NaN  20191224090000     전체 관람가
4     20190411            NaN  20190418090000    12세 관람가

              MANUFCO_NM DSTBTCO_NM  ... CTRY_CD_2 CTRY_CD_3 CTRY_CD_4  \
0  (주)제이엠컬쳐스 , (주)몬스터팩토리  (주)스마일이엔티  ...       NaN       NaN       NaN
1                    NaN        NaN  ...       NaN       NaN       NaN
2                    NaN    영화사 진진   ...       NaN       NaN       NaN
3                    NaN   (주)디오시네마  ...       NaN       NaN       NaN
4                    NaN   (주)엣나인필름  ...       NaN       NaN       NaN

  CTRY_CD_5 GNR_ID_1 GNR_ID_2 GNR_ID_3 GNR_ID_4 GNR_ID_5 GNR_ID_6
0       NaN      드라마   공포(호러)      NaN      NaN      NaN      NaN
1       NaN      드라마   멜로/로맨스      NaN      NaN      NaN      NaN
2       NaN      드라마      코미디      NaN      NaN      NaN      NaN
3       NaN      드라마       가족      NaN      NaN      NaN      NaN
4       NaN      드라마       전쟁      NaN      NaN      NaN      NaN

[5 rows x 22 columns]

## 제작사(MANUFCO_NM) 병렬 처리

In [32]:
i3 = 1
for i3 in range(1,100):
    movie_list_basedata_v4['MANUFCO_NM_' + str(i3)] = movie_list_basedata_v4.MANUFCO_NM.str.split(",").str[i3-1]
    if any(pd.notnull(movie_list_basedata_v4['MANUFCO_NM_' + str(i3)]) == True) == False :
        movie_list_basedata_v4.drop(['MANUFCO_NM_' + str(i3)], axis= 1, inplace = True)
        break
    i3 = i3 + 1

In [33]:
print(movie_list_basedata_v4.columns)
print(movie_list_basedata_v4.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'CIN_OPEN_DT',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'WAT_LVL_CD', 'MANUFCO_NM',
       'DSTBTCO_NM', 'SSTRY_CIN_YN', 'CTRY_CD_1', 'CTRY_CD_2', 'CTRY_CD_3',
       'CTRY_CD_4', 'CTRY_CD_5', 'GNR_ID_1', 'GNR_ID_2', 'GNR_ID_3',
       'GNR_ID_4', 'GNR_ID_5', 'GNR_ID_6', 'MANUFCO_NM_1', 'MANUFCO_NM_2',
       'MANUFCO_NM_3'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

   CIN_OPEN_DT  DMST_SPCT_CNT     BTV_OPEN_DT WAT_LVL_CD  \
0     20190529        59344.0  20190812090000    15세 관람가
1     20191212            NaN  20191212090000    19세 관람가
2     20190912          707.0  20190930090000    15세 관람가
3     20191212            NaN  20191224090000     전체 관람가
4     20190411            NaN  20190418090000    12세 관람가

              MANUFCO_NM DSTBTCO_NM  ... CTRY_CD_5 GNR_ID_1 GNR_ID_2 GNR_ID_3  \
0  (주)제이엠컬쳐스 , (주)몬스터팩토리  (주)스마일이엔티  ...       NaN      드라마   공포(호러)      NaN
1                    NaN        NaN  ...       NaN      드라마   멜로/로맨스      NaN
2                    NaN    영화사 진진   ...       NaN      드라마      코미디      NaN
3                    NaN   (주)디오시네마  ...       NaN      드라마       가족      NaN
4                    NaN   (주)엣나인필름  ...       NaN      드라마       전쟁      NaN

  GNR_ID_4 GNR_ID_5 GNR_ID_6 MANUFCO_NM_1 MANUFCO_NM_2 MANUFCO_NM_3
0      NaN      NaN      NaN   (주)제이엠컬쳐스     (주)몬스터팩토리          NaN
1      NaN      NaN      NaN          NaN          NaN          NaN
2      NaN      NaN      NaN          NaN          NaN          NaN
3      NaN      NaN      NaN          NaN          NaN          NaN
4      NaN      NaN      NaN          NaN          NaN          NaN

[5 rows x 25 columns]

## 제작사 (MANUFCO_NM) 컬럼 삭제

In [35]:
movie_list_basedata_v5 =  movie_list_basedata_v4.drop(['MANUFCO_NM'], axis= 1)
print(movie_list_basedata_v5.columns)

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'CIN_OPEN_DT',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'WAT_LVL_CD', 'DSTBTCO_NM',
       'SSTRY_CIN_YN', 'CTRY_CD_1', 'CTRY_CD_2', 'CTRY_CD_3', 'CTRY_CD_4',
       'CTRY_CD_5', 'GNR_ID_1', 'GNR_ID_2', 'GNR_ID_3', 'GNR_ID_4', 'GNR_ID_5',
       'GNR_ID_6', 'MANUFCO_NM_1', 'MANUFCO_NM_2', 'MANUFCO_NM_3'],
      dtype='object')

## 배급사(DSTBTCO_NM) 병렬 처리

In [36]:
i4 = 1
for i4 in range(1,100):
    movie_list_basedata_v5['DSTBTCO_NM_' + str(i4)] = movie_list_basedata_v5.DSTBTCO_NM.str.split(",").str[i4-1]
    if any(pd.notnull(movie_list_basedata_v5['DSTBTCO_NM_' + str(i4)]) == True) == False :
        movie_list_basedata_v5.drop(['DSTBTCO_NM_' + str(i4)], axis= 1, inplace = True)
        break
    i4 = i4 + 1

In [37]:
print(movie_list_basedata_v5.columns)
print(movie_list_basedata_v5.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'CIN_OPEN_DT',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'WAT_LVL_CD', 'DSTBTCO_NM',
       'SSTRY_CIN_YN', 'CTRY_CD_1', 'CTRY_CD_2', 'CTRY_CD_3', 'CTRY_CD_4',
       'CTRY_CD_5', 'GNR_ID_1', 'GNR_ID_2', 'GNR_ID_3', 'GNR_ID_4', 'GNR_ID_5',
       'GNR_ID_6', 'MANUFCO_NM_1', 'MANUFCO_NM_2', 'MANUFCO_NM_3',
       'DSTBTCO_NM_1', 'DSTBTCO_NM_2', 'DSTBTCO_NM_3'],
      dtype='object')
        META_ID                 META_TITLE SUB_TITLE       ENGL_TITLE  \
0  MM1000234175                     0.0mhz       NaN           0.0MHz
1  MM1000334701                    1 더하기 3       NaN   Three Husbands
2  MM1000311677  100일동안 100가지로 100퍼센트 행복찾기       NaN       100 Things
3  MM1000337435                        10년       NaN  Ten Years Japan
4  MM1000191569                    12번째 솔저       NaN     The 12th Man

   CIN_OPEN_DT  DMST_SPCT_CNT     BTV_OPEN_DT WAT_LVL_CD DSTBTCO_NM  \
0     20190529        59344.0  20190812090000    15세 관람가  (주)스마일이엔티
1     20191212            NaN  20191212090000    19세 관람가        NaN
2     20190912          707.0  20190930090000    15세 관람가    영화사 진진
3     20191212            NaN  20191224090000     전체 관람가   (주)디오시네마
4     20190411            NaN  20190418090000    12세 관람가   (주)엣나인필름

  SSTRY_CIN_YN  ... GNR_ID_3 GNR_ID_4 GNR_ID_5 GNR_ID_6 MANUFCO_NM_1  \
0            N  ...      NaN      NaN      NaN      NaN   (주)제이엠컬쳐스
1            N  ...      NaN      NaN      NaN      NaN          NaN
2            N  ...      NaN      NaN      NaN      NaN          NaN
3            N  ...      NaN      NaN      NaN      NaN          NaN
4            N  ...      NaN      NaN      NaN      NaN          NaN

  MANUFCO_NM_2 MANUFCO_NM_3 DSTBTCO_NM_1 DSTBTCO_NM_2 DSTBTCO_NM_3
0    (주)몬스터팩토리          NaN    (주)스마일이엔티          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN      영화사 진진           NaN          NaN
3          NaN          NaN     (주)디오시네마          NaN          NaN
4          NaN          NaN     (주)엣나인필름          NaN          NaN

[5 rows x 27 columns]

## 배급사(DSTBTCO_NM) 컬럼 삭제

In [38]:
movie_list_basedata_v6 =  movie_list_basedata_v5.drop(['DSTBTCO_NM'], axis= 1)
print(movie_list_basedata_v6.columns)

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'CIN_OPEN_DT',
       'DMST_SPCT_CNT', 'BTV_OPEN_DT', 'WAT_LVL_CD', 'SSTRY_CIN_YN',
       'CTRY_CD_1', 'CTRY_CD_2', 'CTRY_CD_3', 'CTRY_CD_4', 'CTRY_CD_5',
       'GNR_ID_1', 'GNR_ID_2', 'GNR_ID_3', 'GNR_ID_4', 'GNR_ID_5', 'GNR_ID_6',
       'MANUFCO_NM_1', 'MANUFCO_NM_2', 'MANUFCO_NM_3', 'DSTBTCO_NM_1',
       'DSTBTCO_NM_2', 'DSTBTCO_NM_3'],
      dtype='object')

### 최종 전처리 Dataframe -  movie_list_basedata_v6

In [39]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_basedata_v6.to_csv("data/movie_list_basedata_preprocessing" + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##

## 감독 정보 rawdata목록 불러오기 - eh_meta_basedata_200623_v0.1.csv

In [235]:
movie_list_directordata = pd.read_csv('raw/eh_meta_directordata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_directordata.columns)
print(movie_list_directordata.shape[0])
print(movie_list_directordata.head())

Index(['META_ID', 'PRS_ID', 'PRS_NM', 'PRS_ROLE_NM', 'FILMOGRAPHY'], dtype='object')
595
        META_ID        PRS_ID     PRS_NM PRS_ROLE_NM  \
0  MM1000103011  MP0000052678  크리스티앙 알바트      감독(연출)
1  MM1000109497  MP0000052678  크리스티앙 알바트      감독(연출)
2  MM1000114876  MP1000003556        금패진      감독(연출)
3  MM1000115034  MP0000112474    마크 로테문트      감독(연출)
4  MM1000115408  MP0000005457   파올로 타비아니      감독(연출)

                                         FILMOGRAPHY
0  돈 겟 아웃!|미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션...
1  돈 겟 아웃!|미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션...
2                                         완벽한 그녀의 비밀
3                                         디스 크레이지 하트
4                                        레인보우: 나의 사랑

## 중복컬럼명 변경

In [236]:
movie_list_directordata_v1 = movie_list_directordata

movie_list_directordata_v1.rename(columns = {'PRS_ID' : 'PD_ID', 
                                             'PRS_NM' : 'PD_NM', 
                                             'PRS_ROLE_NM' : 'PD_PRS_ROLE_NM'
                                         }, inplace = True)

print(movie_list_directordata_v1.columns)

Index(['META_ID', 'PD_ID', 'PD_NM', 'PD_PRS_ROLE_NM', 'FILMOGRAPHY'], dtype='object')

## 연출작(FILMOGRAPHY) 병렬 처리

In [237]:
d1 = 1
for d1 in range(1,100):
    movie_list_directordata_v1['PD_PWR_' + str(d1)] = movie_list_directordata_v1.FILMOGRAPHY.str.split("|").str[d1-1]
    if any(pd.notnull(movie_list_directordata_v1['PD_PWR_' + str(d1)]) == True) == False :
        movie_list_directordata_v1.drop(['PD_PWR_' + str(d1)], axis= 1, inplace = True)
        break
    d1 = d1 + 1

In [238]:
print(movie_list_directordata_v1.columns)
print(movie_list_directordata_v1.head())

Index(['META_ID', 'PD_ID', 'PD_NM', 'PD_PRS_ROLE_NM', 'FILMOGRAPHY',
       'PD_PWR_1', 'PD_PWR_2', 'PD_PWR_3', 'PD_PWR_4', 'PD_PWR_5', 'PD_PWR_6'],
      dtype='object')
        META_ID         PD_ID      PD_NM PD_PRS_ROLE_NM  \
0  MM1000103011  MP0000052678  크리스티앙 알바트         감독(연출)
1  MM1000109497  MP0000052678  크리스티앙 알바트         감독(연출)
2  MM1000114876  MP1000003556        금패진         감독(연출)
3  MM1000115034  MP0000112474    마크 로테문트         감독(연출)
4  MM1000115408  MP0000005457   파올로 타비아니         감독(연출)

                                         FILMOGRAPHY     PD_PWR_1  \
0  돈 겟 아웃!|미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션...      돈 겟 아웃!
1  돈 겟 아웃!|미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션...      돈 겟 아웃!
2                                         완벽한 그녀의 비밀   완벽한 그녀의 비밀
3                                         디스 크레이지 하트   디스 크레이지 하트
4                                        레인보우: 나의 사랑  레인보우: 나의 사랑

           PD_PWR_2            PD_PWR_3          PD_PWR_4 PD_PWR_5 PD_PWR_6
0  미션 이스탄불 5: 더 파이널  미션 이스탄불 4: 익스트림 데이  미션 이스탄불 3: 더 리벤지  미션 이스탄불      NaN
1  미션 이스탄불 5: 더 파이널  미션 이스탄불 4: 익스트림 데이  미션 이스탄불 3: 더 리벤지  미션 이스탄불      NaN
2               NaN                 NaN               NaN      NaN      NaN
3               NaN                 NaN               NaN      NaN      NaN
4               NaN                 NaN               NaN      NaN      NaN

print(movie_list_directordata_v1.columns)
print(movie_list_directordata_v1.head())

## FILMOGRAPHY 컬럼 삭제

In [239]:
movie_list_directordata_v2 =  movie_list_directordata_v1.drop(['FILMOGRAPHY'], axis= 1)
print(movie_list_directordata_v2.columns)

Index(['META_ID', 'PD_ID', 'PD_NM', 'PD_PRS_ROLE_NM', 'PD_PWR_1', 'PD_PWR_2',
       'PD_PWR_3', 'PD_PWR_4', 'PD_PWR_5', 'PD_PWR_6'],
      dtype='object')

### 최종 전처리 Dataframe - movie_list_directordata_v2

In [48]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_directordata_v2.to_csv("data/movie_list_directordata_preprocessing" + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##

## 출연자 정보 rawdata목록 불러오기 - eh_meta_actordata_200623_v0.1.csv

In [240]:
movie_list_actordata = pd.read_csv('raw/eh_meta_actordata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_actordata.columns)
print(movie_list_actordata.shape[0])
print(movie_list_actordata.head())

Index(['META_ID', 'PRS_ID', 'PRS_NM', 'PRS_ROLE_NM', 'FILMOGRAPHY'], dtype='object')
2200
        META_ID        PRS_ID    PRS_NM PRS_ROLE_NM  \
0  MM1000103011  MP0000064883  보탄 빌케 모링          주연
1  MM1000103011  MP0000154188     노라 허츠          주연
2  MM1000103011           NaN       NaN         NaN
3  MM1000109497  MP0000001592    틸 슈바이거          주연
4  MM1000109497  MP0000146403   루나 슈바이거          주연

                                         FILMOGRAPHY
0                                            돈 겟 아웃!
1                                            돈 겟 아웃!
2                                                NaN
3  미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불 3:...
4        미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불

## 중복 컬럼명 변경

In [241]:
movie_list_actordata.rename(columns = {'PRS_ID' : 'REP_ACT_ID', 
                                       'PRS_NM' : 'REP_ACT_NM', 
                                       'PRS_ROLE_NM' : 'REP_ACT_PRS_ROLE_NM',
                                       'FILMOGRAPHY' : 'REP_ACT_PWR'
                                         }, inplace = True)

print(movie_list_actordata.columns)

Index(['META_ID', 'REP_ACT_ID', 'REP_ACT_NM', 'REP_ACT_PRS_ROLE_NM',
       'REP_ACT_PWR'],
      dtype='object')

## PRS_ID가 Null인 row 삭제

In [242]:
movie_list_actordata_v1 = movie_list_actordata.dropna(subset = ['REP_ACT_ID'])
print(movie_list_actordata_v1.columns)

Index(['META_ID', 'REP_ACT_ID', 'REP_ACT_NM', 'REP_ACT_PRS_ROLE_NM',
       'REP_ACT_PWR'],
      dtype='object')

## 메타아이디 기준으로 Join처리

In [243]:
movie_list_actordata_v2 = movie_list_actordata_v1.groupby('META_ID').agg({'REP_ACT_ID': '>'.join, 
                                                                            'REP_ACT_NM': '>'.join, 
                                                                            'REP_ACT_PRS_ROLE_NM': '>'.join,
                                                                            'REP_ACT_PWR': '>'.join                                                                                  
}).reset_index()

print(movie_list_actordata_v2.head())

        META_ID                              REP_ACT_ID  \
0  MM1000103011               MP0000064883>MP0000154188
1  MM1000109497  MP0000001592>MP0000146403>MP0000158516
2  MM1000114876  MP0000139219>MP0000153716>MP1000003794
3  MM1000115034  MP0000146343>MP1000003562>MP1000003563
4  MM1000115408  MP0000166422>MP1000003573>MP1000003574

                 REP_ACT_NM REP_ACT_PRS_ROLE_NM  \
0            보탄 빌케 모링>노라 허츠               주연>주연
1     틸 슈바이거>루나 슈바이거>파리 야르딤            주연>주연>주연
2               이육분>장예가>양가용            주연>주연>조연
3  엘리아스 므바렉>필립 슈바르츠>우베 프레우스            주연>주연>주연
4   루카 마리넬리>발렌티나 벨레>로렌조 리첼미            주연>주연>주연

                                         REP_ACT_PWR
0                                    돈 겟 아웃!>돈 겟 아웃!
1  미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불 3:...
2                   완벽한 그녀의 비밀>완벽한 그녀의 비밀>완벽한 그녀의 비밀
3                   디스 크레이지 하트>디스 크레이지 하트>디스 크레이지 하트
4        레인보우: 나의 사랑>레인보우: 나의 사랑>레인보우: 나의 사랑|안개 속 소녀

## Join된 컬럼기준으로 병렬처리

In [244]:
a1 = 1
for a1 in range(1,100):
    
    movie_list_actordata_v2['REP_ACT_ID_' + str(a1)] = movie_list_actordata_v2.REP_ACT_ID.str.split(">").str[a1-1]
    movie_list_actordata_v2['REP_ACT_NM_' + str(a1)] = movie_list_actordata_v2.REP_ACT_NM.str.split(">").str[a1-1]
    movie_list_actordata_v2['REP_ACT_PRS_ROLE_NM_' + str(a1)] = movie_list_actordata_v2.REP_ACT_PRS_ROLE_NM.str.split(">").str[a1-1]
    movie_list_actordata_v2['REP_ACT_PWR_' + str(a1)] = movie_list_actordata_v2.REP_ACT_PWR.str.split(">").str[a1-1]
    
    if any(pd.notnull(movie_list_actordata_v2['REP_ACT_ID_' + str(a1)]) == True) == False :
        if any(pd.notnull(movie_list_actordata_v2['REP_ACT_NM_' + str(a1)]) == True) == False :
            if any(pd.notnull(movie_list_actordata_v2['REP_ACT_PRS_ROLE_NM_' + str(a1)]) == True) == False :
                if any(pd.notnull(movie_list_actordata_v2['REP_ACT_PWR_' + str(a1)]) == True) == False :
                    movie_list_actordata_v2.drop(['REP_ACT_PWR_' + str(a1)], axis= 1, inplace = True)
                movie_list_actordata_v2.drop(['REP_ACT_PRS_ROLE_NM_' + str(a1)], axis= 1, inplace = True)
            movie_list_actordata_v2.drop(['REP_ACT_NM_' + str(a1)], axis= 1, inplace = True)
        movie_list_actordata_v2.drop(['REP_ACT_ID_' + str(a1)], axis= 1, inplace = True)
        break   
    a1 = a1 + 1
    
print(movie_list_actordata_v2.columns)
print(movie_list_actordata_v2.head())

Index(['META_ID', 'REP_ACT_ID', 'REP_ACT_NM', 'REP_ACT_PRS_ROLE_NM',
       'REP_ACT_PWR', 'REP_ACT_ID_1', 'REP_ACT_NM_1', 'REP_ACT_PRS_ROLE_NM_1',
       'REP_ACT_PWR_1', 'REP_ACT_ID_2', 'REP_ACT_NM_2',
       'REP_ACT_PRS_ROLE_NM_2', 'REP_ACT_PWR_2', 'REP_ACT_ID_3',
       'REP_ACT_NM_3', 'REP_ACT_PRS_ROLE_NM_3', 'REP_ACT_PWR_3',
       'REP_ACT_ID_4', 'REP_ACT_NM_4', 'REP_ACT_PRS_ROLE_NM_4',
       'REP_ACT_PWR_4', 'REP_ACT_ID_5', 'REP_ACT_NM_5',
       'REP_ACT_PRS_ROLE_NM_5', 'REP_ACT_PWR_5', 'REP_ACT_ID_6',
       'REP_ACT_NM_6', 'REP_ACT_PRS_ROLE_NM_6', 'REP_ACT_PWR_6'],
      dtype='object')
        META_ID                              REP_ACT_ID  \
0  MM1000103011               MP0000064883>MP0000154188
1  MM1000109497  MP0000001592>MP0000146403>MP0000158516
2  MM1000114876  MP0000139219>MP0000153716>MP1000003794
3  MM1000115034  MP0000146343>MP1000003562>MP1000003563
4  MM1000115408  MP0000166422>MP1000003573>MP1000003574

                 REP_ACT_NM REP_ACT_PRS_ROLE_NM  \
0            보탄 빌케 모링>노라 허츠               주연>주연
1     틸 슈바이거>루나 슈바이거>파리 야르딤            주연>주연>주연
2               이육분>장예가>양가용            주연>주연>조연
3  엘리아스 므바렉>필립 슈바르츠>우베 프레우스            주연>주연>주연
4   루카 마리넬리>발렌티나 벨레>로렌조 리첼미            주연>주연>주연

                                         REP_ACT_PWR  REP_ACT_ID_1  \
0                                    돈 겟 아웃!>돈 겟 아웃!  MP0000064883
1  미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불 3:...  MP0000001592
2                   완벽한 그녀의 비밀>완벽한 그녀의 비밀>완벽한 그녀의 비밀  MP0000139219
3                   디스 크레이지 하트>디스 크레이지 하트>디스 크레이지 하트  MP0000146343
4        레인보우: 나의 사랑>레인보우: 나의 사랑>레인보우: 나의 사랑|안개 속 소녀  MP0000166422

  REP_ACT_NM_1 REP_ACT_PRS_ROLE_NM_1  \
0     보탄 빌케 모링                    주연
1       틸 슈바이거                    주연
2          이육분                    주연
3     엘리아스 므바렉                    주연
4      루카 마리넬리                    주연

                                       REP_ACT_PWR_1  REP_ACT_ID_2  ...  \
0                                            돈 겟 아웃!  MP0000154188  ...
1  미션 이스탄불 5: 더 파이널|미션 이스탄불 4: 익스트림 데이|미션 이스탄불 3:...  MP0000146403  ...
2                                         완벽한 그녀의 비밀  MP0000153716  ...
3                                         디스 크레이지 하트  MP1000003562  ...
4                                        레인보우: 나의 사랑  MP1000003573  ...

  REP_ACT_PRS_ROLE_NM_4 REP_ACT_PWR_4 REP_ACT_ID_5 REP_ACT_NM_5  \
0                   NaN           NaN          NaN          NaN
1                   NaN           NaN          NaN          NaN
2                   NaN           NaN          NaN          NaN
3                   NaN           NaN          NaN          NaN
4                   NaN           NaN          NaN          NaN

  REP_ACT_PRS_ROLE_NM_5 REP_ACT_PWR_5 REP_ACT_ID_6 REP_ACT_NM_6  \
0                   NaN           NaN          NaN          NaN
1                   NaN           NaN          NaN          NaN
2                   NaN           NaN          NaN          NaN
3                   NaN           NaN          NaN          NaN
4                   NaN           NaN          NaN          NaN

  REP_ACT_PRS_ROLE_NM_6 REP_ACT_PWR_6
0                   NaN           NaN
1                   NaN           NaN
2                   NaN           NaN
3                   NaN           NaN
4                   NaN           NaN

[5 rows x 29 columns]

## Join 처리된 컬럼 삭제

In [246]:
movie_list_actordata_v3 =  movie_list_actordata_v2.drop(['REP_ACT_ID', 'REP_ACT_NM', 'REP_ACT_PRS_ROLE_NM','REP_ACT_PWR'], axis= 1)
print(movie_list_actordata_v3.columns)

Index(['META_ID', 'REP_ACT_ID_1', 'REP_ACT_NM_1', 'REP_ACT_PRS_ROLE_NM_1',
       'REP_ACT_PWR_1', 'REP_ACT_ID_2', 'REP_ACT_NM_2',
       'REP_ACT_PRS_ROLE_NM_2', 'REP_ACT_PWR_2', 'REP_ACT_ID_3',
       'REP_ACT_NM_3', 'REP_ACT_PRS_ROLE_NM_3', 'REP_ACT_PWR_3',
       'REP_ACT_ID_4', 'REP_ACT_NM_4', 'REP_ACT_PRS_ROLE_NM_4',
       'REP_ACT_PWR_4', 'REP_ACT_ID_5', 'REP_ACT_NM_5',
       'REP_ACT_PRS_ROLE_NM_5', 'REP_ACT_PWR_5', 'REP_ACT_ID_6',
       'REP_ACT_NM_6', 'REP_ACT_PRS_ROLE_NM_6', 'REP_ACT_PWR_6'],
      dtype='object')

## 출연작(FILMOGRAPHY) 병렬 처리

In [247]:
## 1번 인물 출연작 추출

a1 = 1
for a1 in range(1,100):
    movie_list_actordata_v3['REP_ACT_PWR_1_' + str(a1)] = movie_list_actordata_v3.REP_ACT_PWR_1.str.split("|").str[a1-1]
    if any(pd.notnull(movie_list_actordata_v3['REP_ACT_PWR_1_' + str(a1)]) == True) == False :
        movie_list_actordata_v3.drop(['REP_ACT_PWR_1_' + str(a1)], axis= 1, inplace = True)
        break
    a1 = a1 + 1
    
print(movie_list_actordata_v3.columns)
movie_list_actordata_v4 = movie_list_actordata_v3

Index(['META_ID', 'REP_ACT_ID_1', 'REP_ACT_NM_1', 'REP_ACT_PRS_ROLE_NM_1',
       'REP_ACT_PWR_1', 'REP_ACT_ID_2', 'REP_ACT_NM_2',
       'REP_ACT_PRS_ROLE_NM_2', 'REP_ACT_PWR_2', 'REP_ACT_ID_3',
       'REP_ACT_NM_3', 'REP_ACT_PRS_ROLE_NM_3', 'REP_ACT_PWR_3',
       'REP_ACT_ID_4', 'REP_ACT_NM_4', 'REP_ACT_PRS_ROLE_NM_4',
       'REP_ACT_PWR_4', 'REP_ACT_ID_5', 'REP_ACT_NM_5',
       'REP_ACT_PRS_ROLE_NM_5', 'REP_ACT_PWR_5', 'REP_ACT_ID_6',
       'REP_ACT_NM_6', 'REP_ACT_PRS_ROLE_NM_6', 'REP_ACT_PWR_6',
       'REP_ACT_PWR_1_1', 'REP_ACT_PWR_1_2', 'REP_ACT_PWR_1_3',
       'REP_ACT_PWR_1_4', 'REP_ACT_PWR_1_5', 'REP_ACT_PWR_1_6',
       'REP_ACT_PWR_1_7', 'REP_ACT_PWR_1_8', 'REP_ACT_PWR_1_9',
       'REP_ACT_PWR_1_10', 'REP_ACT_PWR_1_11', 'REP_ACT_PWR_1_12',
       'REP_ACT_PWR_1_13', 'REP_ACT_PWR_1_14', 'REP_ACT_PWR_1_15',
       'REP_ACT_PWR_1_16', 'REP_ACT_PWR_1_17', 'REP_ACT_PWR_1_18',
       'REP_ACT_PWR_1_19', 'REP_ACT_PWR_1_20', 'REP_ACT_PWR_1_21'],
      dtype='object')

In [248]:
## 2번 인물 출연작 추출

b1 = 1
for a1 in range(1,100):
    movie_list_actordata_v4['REP_ACT_PWR_2_' + str(b1)] = movie_list_actordata_v4.REP_ACT_PWR_2.str.split("|").str[b1-1]
    if any(pd.notnull(movie_list_actordata_v4['REP_ACT_PWR_2_' + str(b1)]) == True) == False :
        movie_list_actordata_v4.drop(['REP_ACT_PWR_2_' + str(b1)], axis= 1, inplace = True)
        break
    b1 = b1 + 1

print(movie_list_actordata_v4.columns)
movie_list_actordata_v5 = movie_list_actordata_v4

Index(['META_ID', 'REP_ACT_ID_1', 'REP_ACT_NM_1', 'REP_ACT_PRS_ROLE_NM_1',
       'REP_ACT_PWR_1', 'REP_ACT_ID_2', 'REP_ACT_NM_2',
       'REP_ACT_PRS_ROLE_NM_2', 'REP_ACT_PWR_2', 'REP_ACT_ID_3',
       'REP_ACT_NM_3', 'REP_ACT_PRS_ROLE_NM_3', 'REP_ACT_PWR_3',
       'REP_ACT_ID_4', 'REP_ACT_NM_4', 'REP_ACT_PRS_ROLE_NM_4',
       'REP_ACT_PWR_4', 'REP_ACT_ID_5', 'REP_ACT_NM_5',
       'REP_ACT_PRS_ROLE_NM_5', 'REP_ACT_PWR_5', 'REP_ACT_ID_6',
       'REP_ACT_NM_6', 'REP_ACT_PRS_ROLE_NM_6', 'REP_ACT_PWR_6',
       'REP_ACT_PWR_1_1', 'REP_ACT_PWR_1_2', 'REP_ACT_PWR_1_3',
       'REP_ACT_PWR_1_4', 'REP_ACT_PWR_1_5', 'REP_ACT_PWR_1_6',
       'REP_ACT_PWR_1_7', 'REP_ACT_PWR_1_8', 'REP_ACT_PWR_1_9',
       'REP_ACT_PWR_1_10', 'REP_ACT_PWR_1_11', 'REP_ACT_PWR_1_12',
       'REP_ACT_PWR_1_13', 'REP_ACT_PWR_1_14', 'REP_ACT_PWR_1_15',
       'REP_ACT_PWR_1_16', 'REP_ACT_PWR_1_17', 'REP_ACT_PWR_1_18',
       'REP_ACT_PWR_1_19', 'REP_ACT_PWR_1_20', 'REP_ACT_PWR_1_21',
       'REP_ACT_PWR_2_1', 'REP_ACT_PWR_2_2', 'REP_ACT_PWR_2_3',
       'REP_ACT_PWR_2_4', 'REP_ACT_PWR_2_5', 'REP_ACT_PWR_2_6',
       'REP_ACT_PWR_2_7', 'REP_ACT_PWR_2_8', 'REP_ACT_PWR_2_9',
       'REP_ACT_PWR_2_10', 'REP_ACT_PWR_2_11', 'REP_ACT_PWR_2_12',
       'REP_ACT_PWR_2_13', 'REP_ACT_PWR_2_14', 'REP_ACT_PWR_2_15',
       'REP_ACT_PWR_2_16', 'REP_ACT_PWR_2_17', 'REP_ACT_PWR_2_18',
       'REP_ACT_PWR_2_19', 'REP_ACT_PWR_2_20', 'REP_ACT_PWR_2_21'],
      dtype='object')

In [249]:
## 3번 인물 출연작 추출

c1 = 1
for a1 in range(1,100):
    movie_list_actordata_v5['REP_ACT_PWR_3_' + str(c1)] = movie_list_actordata_v5.REP_ACT_PWR_3.str.split("|").str[c1-1]
    if any(pd.notnull(movie_list_actordata_v5['REP_ACT_PWR_3_' + str(c1)]) == True) == False :
        movie_list_actordata_v5.drop(['REP_ACT_PWR_3_' + str(c1)], axis= 1, inplace = True)
        break
    c1 = c1 + 1

print(movie_list_actordata_v5.columns)
movie_list_actordata_v6 = movie_list_actordata_v5

Index(['META_ID', 'REP_ACT_ID_1', 'REP_ACT_NM_1', 'REP_ACT_PRS_ROLE_NM_1',
       'REP_ACT_PWR_1', 'REP_ACT_ID_2', 'REP_ACT_NM_2',
       'REP_ACT_PRS_ROLE_NM_2', 'REP_ACT_PWR_2', 'REP_ACT_ID_3',
       'REP_ACT_NM_3', 'REP_ACT_PRS_ROLE_NM_3', 'REP_ACT_PWR_3',
       'REP_ACT_ID_4', 'REP_ACT_NM_4', 'REP_ACT_PRS_ROLE_NM_4',
       'REP_ACT_PWR_4', 'REP_ACT_ID_5', 'REP_ACT_NM_5',
       'REP_ACT_PRS_ROLE_NM_5', 'REP_ACT_PWR_5', 'REP_ACT_ID_6',
       'REP_ACT_NM_6', 'REP_ACT_PRS_ROLE_NM_6', 'REP_ACT_PWR_6',
       'REP_ACT_PWR_1_1', 'REP_ACT_PWR_1_2', 'REP_ACT_PWR_1_3',
       'REP_ACT_PWR_1_4', 'REP_ACT_PWR_1_5', 'REP_ACT_PWR_1_6',
       'REP_ACT_PWR_1_7', 'REP_ACT_PWR_1_8', 'REP_ACT_PWR_1_9',
       'REP_ACT_PWR_1_10', 'REP_ACT_PWR_1_11', 'REP_ACT_PWR_1_12',
       'REP_ACT_PWR_1_13', 'REP_ACT_PWR_1_14', 'REP_ACT_PWR_1_15',
       'REP_ACT_PWR_1_16', 'REP_ACT_PWR_1_17', 'REP_ACT_PWR_1_18',
       'REP_ACT_PWR_1_19', 'REP_ACT_PWR_1_20', 'REP_ACT_PWR_1_21',
       'REP_ACT_PWR_2_1', 'REP_ACT_PWR_2_2', 'REP_ACT_PWR_2_3',
       'REP_ACT_PWR_2_4', 'REP_ACT_PWR_2_5', 'REP_ACT_PWR_2_6',
       'REP_ACT_PWR_2_7', 'REP_ACT_PWR_2_8', 'REP_ACT_PWR_2_9',
       'REP_ACT_PWR_2_10', 'REP_ACT_PWR_2_11', 'REP_ACT_PWR_2_12',
       'REP_ACT_PWR_2_13', 'REP_ACT_PWR_2_14', 'REP_ACT_PWR_2_15',
       'REP_ACT_PWR_2_16', 'REP_ACT_PWR_2_17', 'REP_ACT_PWR_2_18',
       'REP_ACT_PWR_2_19', 'REP_ACT_PWR_2_20', 'REP_ACT_PWR_2_21',
       'REP_ACT_PWR_3_1', 'REP_ACT_PWR_3_2', 'REP_ACT_PWR_3_3',
       'REP_ACT_PWR_3_4', 'REP_ACT_PWR_3_5', 'REP_ACT_PWR_3_6',
       'REP_ACT_PWR_3_7', 'REP_ACT_PWR_3_8', 'REP_ACT_PWR_3_9',
       'REP_ACT_PWR_3_10', 'REP_ACT_PWR_3_11', 'REP_ACT_PWR_3_12',
       'REP_ACT_PWR_3_13', 'REP_ACT_PWR_3_14', 'REP_ACT_PWR_3_15',
       'REP_ACT_PWR_3_16', 'REP_ACT_PWR_3_17', 'REP_ACT_PWR_3_18'],
      dtype='object')

In [250]:
## 4번 인물 출연작 추출

d1 = 1
for a1 in range(1,100):
    movie_list_actordata_v6['REP_ACT_PWR_4_' + str(d1)] = movie_list_actordata_v6.REP_ACT_PWR_4.str.split("|").str[d1-1]
    if any(pd.notnull(movie_list_actordata_v6['REP_ACT_PWR_4_' + str(d1)]) == True) == False :
        movie_list_actordata_v6.drop(['REP_ACT_PWR_4_' + str(d1)], axis= 1, inplace = True)
        break
    d1 = d1 + 1

print(movie_list_actordata_v6.columns)
movie_list_actordata_v7 = movie_list_actordata_v6

Index(['META_ID', 'REP_ACT_ID_1', 'REP_ACT_NM_1', 'REP_ACT_PRS_ROLE_NM_1',
       'REP_ACT_PWR_1', 'REP_ACT_ID_2', 'REP_ACT_NM_2',
       'REP_ACT_PRS_ROLE_NM_2', 'REP_ACT_PWR_2', 'REP_ACT_ID_3',
       'REP_ACT_NM_3', 'REP_ACT_PRS_ROLE_NM_3', 'REP_ACT_PWR_3',
       'REP_ACT_ID_4', 'REP_ACT_NM_4', 'REP_ACT_PRS_ROLE_NM_4',
       'REP_ACT_PWR_4', 'REP_ACT_ID_5', 'REP_ACT_NM_5',
       'REP_ACT_PRS_ROLE_NM_5', 'REP_ACT_PWR_5', 'REP_ACT_ID_6',
       'REP_ACT_NM_6', 'REP_ACT_PRS_ROLE_NM_6', 'REP_ACT_PWR_6',
       'REP_ACT_PWR_1_1', 'REP_ACT_PWR_1_2', 'REP_ACT_PWR_1_3',
       'REP_ACT_PWR_1_4', 'REP_ACT_PWR_1_5', 'REP_ACT_PWR_1_6',
       'REP_ACT_PWR_1_7', 'REP_ACT_PWR_1_8', 'REP_ACT_PWR_1_9',
       'REP_ACT_PWR_1_10', 'REP_ACT_PWR_1_11', 'REP_ACT_PWR_1_12',
       'REP_ACT_PWR_1_13', 'REP_ACT_PWR_1_14', 'REP_ACT_PWR_1_15',
       'REP_ACT_PWR_1_16', 'REP_ACT_PWR_1_17', 'REP_ACT_PWR_1_18',
       'REP_ACT_PWR_1_19', 'REP_ACT_PWR_1_20', 'REP_ACT_PWR_1_21',
       'REP_ACT_PWR_2_1', 'REP_ACT_PWR_2_2', 'REP_ACT_PWR_2_3',
       'REP_ACT_PWR_2_4', 'REP_ACT_PWR_2_5', 'REP_ACT_PWR_2_6',
       'REP_ACT_PWR_2_7', 'REP_ACT_PWR_2_8', 'REP_ACT_PWR_2_9',
       'REP_ACT_PWR_2_10', 'REP_ACT_PWR_2_11', 'REP_ACT_PWR_2_12',
       'REP_ACT_PWR_2_13', 'REP_ACT_PWR_2_14', 'REP_ACT_PWR_2_15',
       'REP_ACT_PWR_2_16', 'REP_ACT_PWR_2_17', 'REP_ACT_PWR_2_18',
       'REP_ACT_PWR_2_19', 'REP_ACT_PWR_2_20', 'REP_ACT_PWR_2_21',
       'REP_ACT_PWR_3_1', 'REP_ACT_PWR_3_2', 'REP_ACT_PWR_3_3',
       'REP_ACT_PWR_3_4', 'REP_ACT_PWR_3_5', 'REP_ACT_PWR_3_6',
       'REP_ACT_PWR_3_7', 'REP_ACT_PWR_3_8', 'REP_ACT_PWR_3_9',
       'REP_ACT_PWR_3_10', 'REP_ACT_PWR_3_11', 'REP_ACT_PWR_3_12',
       'REP_ACT_PWR_3_13', 'REP_ACT_PWR_3_14', 'REP_ACT_PWR_3_15',
       'REP_ACT_PWR_3_16', 'REP_ACT_PWR_3_17', 'REP_ACT_PWR_3_18',
       'REP_ACT_PWR_4_1', 'REP_ACT_PWR_4_2', 'REP_ACT_PWR_4_3',
       'REP_ACT_PWR_4_4', 'REP_ACT_PWR_4_5', 'REP_ACT_PWR_4_6',
       'REP_ACT_PWR_4_7', 'REP_ACT_PWR_4_8', 'REP_ACT_PWR_4_9',
       'REP_ACT_PWR_4_10', 'REP_ACT_PWR_4_11', 'REP_ACT_PWR_4_12',
       'REP_ACT_PWR_4_13'],
      dtype='object')

In [251]:
## 5번 인물 출연작 추출

e1 = 1
for a1 in range(1,100):
    movie_list_actordata_v7['REP_ACT_PWR_5_' + str(e1)] = movie_list_actordata_v7.REP_ACT_PWR_5.str.split("|").str[e1-1]
    if any(pd.notnull(movie_list_actordata_v7['REP_ACT_PWR_5_' + str(e1)]) == True) == False :
        movie_list_actordata_v7.drop(['REP_ACT_PWR_5_' + str(e1)], axis= 1, inplace = True)
        break
    e1 = e1 + 1

print(movie_list_actordata_v7.columns)
movie_list_actordata_v8 = movie_list_actordata_v7

Index(['META_ID', 'REP_ACT_ID_1', 'REP_ACT_NM_1', 'REP_ACT_PRS_ROLE_NM_1',
       'REP_ACT_PWR_1', 'REP_ACT_ID_2', 'REP_ACT_NM_2',
       'REP_ACT_PRS_ROLE_NM_2', 'REP_ACT_PWR_2', 'REP_ACT_ID_3',
       ...
       'REP_ACT_PWR_5_5', 'REP_ACT_PWR_5_6', 'REP_ACT_PWR_5_7',
       'REP_ACT_PWR_5_8', 'REP_ACT_PWR_5_9', 'REP_ACT_PWR_5_10',
       'REP_ACT_PWR_5_11', 'REP_ACT_PWR_5_12', 'REP_ACT_PWR_5_13',
       'REP_ACT_PWR_5_14'],
      dtype='object', length=112)

In [253]:
print(movie_list_actordata_v7.columns)

Index(['META_ID', 'REP_ACT_ID_1', 'REP_ACT_NM_1', 'REP_ACT_PRS_ROLE_NM_1',
       'REP_ACT_PWR_1', 'REP_ACT_ID_2', 'REP_ACT_NM_2',
       'REP_ACT_PRS_ROLE_NM_2', 'REP_ACT_PWR_2', 'REP_ACT_ID_3',
       ...
       'REP_ACT_PWR_5_10', 'REP_ACT_PWR_5_11', 'REP_ACT_PWR_5_12',
       'REP_ACT_PWR_5_13', 'REP_ACT_PWR_5_14', 'REP_ACT_PWR_6_1',
       'REP_ACT_PWR_6_2', 'REP_ACT_PWR_6_3', 'REP_ACT_PWR_6_4',
       'REP_ACT_PWR_6_5'],
      dtype='object', length=117)

In [252]:
## 6번 인물 출연작 추출

f1 = 1
for a1 in range(1,100):
    movie_list_actordata_v8['REP_ACT_PWR_6_' + str(f1)] = movie_list_actordata_v8.REP_ACT_PWR_6.str.split("|").str[f1-1]
    if any(pd.notnull(movie_list_actordata_v8['REP_ACT_PWR_6_' + str(f1)]) == True) == False :
        movie_list_actordata_v8.drop(['REP_ACT_PWR_6_' + str(f1)], axis= 1, inplace = True)
        break
    f1 = f1 + 1

print(movie_list_actordata_v8.columns)
movie_list_actordata_v9 = movie_list_actordata_v8

Index(['META_ID', 'REP_ACT_ID_1', 'REP_ACT_NM_1', 'REP_ACT_PRS_ROLE_NM_1',
       'REP_ACT_PWR_1', 'REP_ACT_ID_2', 'REP_ACT_NM_2',
       'REP_ACT_PRS_ROLE_NM_2', 'REP_ACT_PWR_2', 'REP_ACT_ID_3',
       ...
       'REP_ACT_PWR_5_10', 'REP_ACT_PWR_5_11', 'REP_ACT_PWR_5_12',
       'REP_ACT_PWR_5_13', 'REP_ACT_PWR_5_14', 'REP_ACT_PWR_6_1',
       'REP_ACT_PWR_6_2', 'REP_ACT_PWR_6_3', 'REP_ACT_PWR_6_4',
       'REP_ACT_PWR_6_5'],
      dtype='object', length=117)

## 컬럼 위치 변경

In [256]:
movie_list_actordata_v9 = movie_list_actordata_v9[[
       'META_ID', 'REP_ACT_ID_1', 'REP_ACT_NM_1', 'REP_ACT_PRS_ROLE_NM_1',
       'REP_ACT_PWR_1','REP_ACT_PWR_1_1', 'REP_ACT_PWR_1_2', 'REP_ACT_PWR_1_3',
       'REP_ACT_PWR_1_4', 'REP_ACT_PWR_1_5', 'REP_ACT_PWR_1_6',
       'REP_ACT_PWR_1_7', 'REP_ACT_PWR_1_8', 'REP_ACT_PWR_1_9',
       'REP_ACT_PWR_1_10', 'REP_ACT_PWR_1_11', 'REP_ACT_PWR_1_12',
       'REP_ACT_PWR_1_13', 'REP_ACT_PWR_1_14', 'REP_ACT_PWR_1_15',
       'REP_ACT_PWR_1_16', 'REP_ACT_PWR_1_17', 'REP_ACT_PWR_1_18',
       'REP_ACT_PWR_1_19', 'REP_ACT_PWR_1_20', 'REP_ACT_PWR_1_21',
       'REP_ACT_ID_2', 'REP_ACT_NM_2',
       'REP_ACT_PRS_ROLE_NM_2', 'REP_ACT_PWR_2','REP_ACT_PWR_2_1', 'REP_ACT_PWR_2_2', 'REP_ACT_PWR_2_3',
       'REP_ACT_PWR_2_4', 'REP_ACT_PWR_2_5', 'REP_ACT_PWR_2_6',
       'REP_ACT_PWR_2_7', 'REP_ACT_PWR_2_8', 'REP_ACT_PWR_2_9',
       'REP_ACT_PWR_2_10', 'REP_ACT_PWR_2_11', 'REP_ACT_PWR_2_12',
       'REP_ACT_PWR_2_13', 'REP_ACT_PWR_2_14', 'REP_ACT_PWR_2_15',
       'REP_ACT_PWR_2_16', 'REP_ACT_PWR_2_17', 'REP_ACT_PWR_2_18',
       'REP_ACT_PWR_2_19', 'REP_ACT_PWR_2_20', 'REP_ACT_PWR_2_21', 
        'REP_ACT_ID_3',
       'REP_ACT_NM_3', 'REP_ACT_PRS_ROLE_NM_3', 'REP_ACT_PWR_3',
         'REP_ACT_PWR_3_1', 'REP_ACT_PWR_3_2', 'REP_ACT_PWR_3_3',
       'REP_ACT_PWR_3_4', 'REP_ACT_PWR_3_5', 'REP_ACT_PWR_3_6',
       'REP_ACT_PWR_3_7', 'REP_ACT_PWR_3_8', 'REP_ACT_PWR_3_9',
       'REP_ACT_PWR_3_10', 'REP_ACT_PWR_3_11', 'REP_ACT_PWR_3_12',
       'REP_ACT_PWR_3_13', 'REP_ACT_PWR_3_14', 'REP_ACT_PWR_3_15',
       'REP_ACT_PWR_3_16', 'REP_ACT_PWR_3_17', 'REP_ACT_PWR_3_18',
       'REP_ACT_ID_4', 'REP_ACT_NM_4', 'REP_ACT_PRS_ROLE_NM_4',
       'REP_ACT_PWR_4', 'REP_ACT_PWR_4_1', 'REP_ACT_PWR_4_2', 'REP_ACT_PWR_4_3',
       'REP_ACT_PWR_4_4', 'REP_ACT_PWR_4_5', 'REP_ACT_PWR_4_6',
       'REP_ACT_PWR_4_7', 'REP_ACT_PWR_4_8', 'REP_ACT_PWR_4_9',
       'REP_ACT_PWR_4_10', 'REP_ACT_PWR_4_11', 'REP_ACT_PWR_4_12',
       'REP_ACT_PWR_4_13',
       'REP_ACT_ID_5', 'REP_ACT_NM_5',
       'REP_ACT_PRS_ROLE_NM_5', 'REP_ACT_PWR_5','REP_ACT_PWR_5_1', 'REP_ACT_PWR_5_2', 'REP_ACT_PWR_5_3',
       'REP_ACT_PWR_5_4', 'REP_ACT_PWR_5_5', 'REP_ACT_PWR_5_6', 'REP_ACT_PWR_5_7',
       'REP_ACT_PWR_5_8', 'REP_ACT_PWR_5_9', 'REP_ACT_PWR_5_10',
       'REP_ACT_PWR_5_11', 'REP_ACT_PWR_5_12', 'REP_ACT_PWR_5_13',
       'REP_ACT_PWR_5_14',             
       'REP_ACT_ID_6',
       'REP_ACT_NM_6', 'REP_ACT_PRS_ROLE_NM_6', 'REP_ACT_PWR_6','REP_ACT_PWR_6_1',
       'REP_ACT_PWR_6_2', 'REP_ACT_PWR_6_3', 'REP_ACT_PWR_6_4',
       'REP_ACT_PWR_6_5'   
]]

## 병렬 처리 된 컬럼 삭제

In [258]:
movie_list_actordata_v10 =  movie_list_actordata_v9.drop(['REP_ACT_PWR_1','REP_ACT_PWR_2','REP_ACT_PWR_3','REP_ACT_PWR_4','REP_ACT_PWR_5','REP_ACT_PWR_6'], axis= 1)
print(movie_list_actordata_v10.columns)

Index(['META_ID', 'REP_ACT_ID_1', 'REP_ACT_NM_1', 'REP_ACT_PRS_ROLE_NM_1',
       'REP_ACT_PWR_1_1', 'REP_ACT_PWR_1_2', 'REP_ACT_PWR_1_3',
       'REP_ACT_PWR_1_4', 'REP_ACT_PWR_1_5', 'REP_ACT_PWR_1_6',
       ...
       'REP_ACT_PWR_5_13', 'REP_ACT_PWR_5_14', 'REP_ACT_ID_6', 'REP_ACT_NM_6',
       'REP_ACT_PRS_ROLE_NM_6', 'REP_ACT_PWR_6_1', 'REP_ACT_PWR_6_2',
       'REP_ACT_PWR_6_3', 'REP_ACT_PWR_6_4', 'REP_ACT_PWR_6_5'],
      dtype='object', length=111)

### 최종 전처리 Dataframe - movie_list_actordata_v2

In [259]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_actordata_v10.to_csv("data/movie_list_acctordata_preprocessing" + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##

## 수상내역 rawdata목록 불러오기 - eh_meta_prizedata_200623_v0.1

In [260]:
movie_list_prizedata = pd.read_csv('raw/eh_meta_prizedata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_prizedata.columns)
print(movie_list_prizedata.shape[0])
print(movie_list_prizedata.head())

Index(['META_ID', 'PRIZE_YN', 'PRIZE_CNT'], dtype='object')
595
        META_ID PRIZE_YN  PRIZE_CNT
0  MM1000340018        Y          3
1  MM1000329732        Y          1
2  MM1000227591        Y          1
3  MM1000167934        Y          4
4  MM1000142829        Y          2

### 최종 전처리 Dataframe - movie_list_prizedata

In [261]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_prizedata.to_csv("data/movie_list_prizedata_preprocessing" + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##

## 평점내역 rawdata목록 불러오기 - eh_meta_pointdata_200623_v0.1

In [262]:
movie_list_pointdata = pd.read_csv('raw/eh_meta_pointdata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_pointdata.columns)
print(movie_list_pointdata.shape[0])
print(movie_list_pointdata.head())

Index(['META_ID', 'BTV_LIKE_NCNT', 'BTV_NGOOD_NCNT', 'BTV_PNT',
       'WATCHA_EVAL_NCNT', 'WATCHA_RVW_PNT', 'CINE21_EVAL_NCNT',
       'CINE21_NTNZ_PNT', 'CINE21_CRTC_PNT'],
      dtype='object')
595
        META_ID  BTV_LIKE_NCNT  BTV_NGOOD_NCNT  BTV_PNT  WATCHA_EVAL_NCNT  \
0  MM1000131615        34540.0          1025.0      NaN           54616.0
1  MM1000143771            NaN             NaN      NaN            2017.0
2  MM1000160235           20.0             8.0      NaN             433.0
3  MM1000167168        15929.0          2911.0      NaN           78479.0
4  MM1000180060          326.0            64.0      NaN            5850.0

   WATCHA_RVW_PNT  CINE21_EVAL_NCNT  CINE21_NTNZ_PNT  CINE21_CRTC_PNT
0            3.62               4.0             7.33              8.0
1            3.25               2.0             6.00              6.0
2            2.79               1.0              NaN              6.0
3            3.25               9.0             5.75              6.8
4            3.45               6.0             6.50              7.0

## 불필요한 컬럼 삭제

In [263]:
movie_list_pointdata_v1 =  movie_list_pointdata.drop(['BTV_PNT'], axis= 1)
print(movie_list_pointdata_v1.columns)
print(movie_list_pointdata_v1.head())

Index(['META_ID', 'BTV_LIKE_NCNT', 'BTV_NGOOD_NCNT', 'WATCHA_EVAL_NCNT',
       'WATCHA_RVW_PNT', 'CINE21_EVAL_NCNT', 'CINE21_NTNZ_PNT',
       'CINE21_CRTC_PNT'],
      dtype='object')
        META_ID  BTV_LIKE_NCNT  BTV_NGOOD_NCNT  WATCHA_EVAL_NCNT  \
0  MM1000131615        34540.0          1025.0           54616.0
1  MM1000143771            NaN             NaN            2017.0
2  MM1000160235           20.0             8.0             433.0
3  MM1000167168        15929.0          2911.0           78479.0
4  MM1000180060          326.0            64.0            5850.0

   WATCHA_RVW_PNT  CINE21_EVAL_NCNT  CINE21_NTNZ_PNT  CINE21_CRTC_PNT
0            3.62               4.0             7.33              8.0
1            3.25               2.0             6.00              6.0
2            2.79               1.0              NaN              6.0
3            3.25               9.0             5.75              6.8
4            3.45               6.0             6.50              7.0

### 최종 전처리 Dataframe - movie_list_pointdata_v1

In [264]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_pointdata_v1.to_csv("data/movie_list_pointdata_preprocessing" + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##

## 리뷰내역 rawdata목록 불러오기 - eh_meta_rvwdata_200623_v0.1

In [265]:
movie_list_rvwdata = pd.read_csv('raw/eh_meta_rvwdata_200623_v0.1.csv', encoding = 'UTF-8')
print(movie_list_rvwdata.columns)
print(movie_list_rvwdata.shape[0])
print(movie_list_rvwdata.head())

Index(['META_ID', 'META_TITLE', 'SUB_TITLE', 'ENGL_TITLE', 'SNSS_CTS',
       'CINE21_CTSC_NM', 'CINE21_COMT_CTSC'],
      dtype='object')
595
        META_ID        META_TITLE SUB_TITLE             ENGL_TITLE  \
0  MM1000103011           돈 겟 아웃!       NaN         Don't Get Out!
1  MM1000109497  미션 이스탄불 5: 더 파이널       NaN              Fegefeuer
2  MM1000114876        완벽한 그녀의 비밀       NaN       The Perfect Girl
3  MM1000115034        디스 크레이지 하트       NaN       This Crazy Heart
4  MM1000115408       레인보우: 나의 사랑       NaN  Una questione privata

                                            SNSS_CTS CINE21_CTSC_NM  \
0  폭탄이 설치된 차량, 가족을 구해야 한다.\r\n결혼기념일을 맞이하여 집에 돌아온 ...            NaN
1  무장한 테러범들이 방송국을 급습하는 사건이 온 도시를 발칵 뒤집고 피랫의 석방을 요...        김현수|박평식
2  아름다운 여대생 ‘예신’은 멋진 남자친구 ‘미아오’와 연애중이다.\r\n어느 날 폭...            NaN
3                         불치병 소년과 바람둥이 청년의 우정을 그린 영화            NaN
4  모든 사람이 꿈꾸어 왔던 소설\r\n20세기 이탈리안들이 가슴에 품은 단 하나의 러...            이주현

            CINE21_COMT_CTSC
0                        NaN
1  뭉그적뭉그적 미션|제철 지난 독일판 <테이큰>
2                        NaN
3                        NaN
4    스크린 너머로는 전해지지 않는 사랑의 열병

## 불필요한 컬럼 삭제

In [266]:
movie_list_rvwdata_v1 =  movie_list_rvwdata.drop(['META_TITLE','SUB_TITLE','ENGL_TITLE','CINE21_CTSC_NM'], axis= 1)
print(movie_list_rvwdata_v1.columns)
print(movie_list_rvwdata_v1.head())

Index(['META_ID', 'SNSS_CTS', 'CINE21_COMT_CTSC'], dtype='object')
        META_ID                                           SNSS_CTS  \
0  MM1000103011  폭탄이 설치된 차량, 가족을 구해야 한다.\r\n결혼기념일을 맞이하여 집에 돌아온 ...
1  MM1000109497  무장한 테러범들이 방송국을 급습하는 사건이 온 도시를 발칵 뒤집고 피랫의 석방을 요...
2  MM1000114876  아름다운 여대생 ‘예신’은 멋진 남자친구 ‘미아오’와 연애중이다.\r\n어느 날 폭...
3  MM1000115034                         불치병 소년과 바람둥이 청년의 우정을 그린 영화
4  MM1000115408  모든 사람이 꿈꾸어 왔던 소설\r\n20세기 이탈리안들이 가슴에 품은 단 하나의 러...

            CINE21_COMT_CTSC
0                        NaN
1  뭉그적뭉그적 미션|제철 지난 독일판 <테이큰>
2                        NaN
3                        NaN
4    스크린 너머로는 전해지지 않는 사랑의 열병

## 씨네21전문가리뷰 (CINE21_COMT_CTSC) 병렬 처리

In [267]:
r1 = 1
for i1 in range(1,100):
    movie_list_rvwdata_v1['CINE21_COMT_CTSC_' + str(r1)] = movie_list_rvwdata_v1.CINE21_COMT_CTSC.str.split("|").str[r1-1]
    if any(pd.notnull(movie_list_rvwdata_v1['CINE21_COMT_CTSC_' + str(r1)]) == True) == False :
        movie_list_rvwdata_v1.drop(['CINE21_COMT_CTSC_' + str(r1)], axis= 1, inplace = True)
        break
    r1 = r1 + 1
    
print(movie_list_rvwdata_v1.columns)
print(movie_list_rvwdata_v1.head())

Index(['META_ID', 'SNSS_CTS', 'CINE21_COMT_CTSC', 'CINE21_COMT_CTSC_1',
       'CINE21_COMT_CTSC_2', 'CINE21_COMT_CTSC_3', 'CINE21_COMT_CTSC_4',
       'CINE21_COMT_CTSC_5', 'CINE21_COMT_CTSC_6', 'CINE21_COMT_CTSC_7',
       'CINE21_COMT_CTSC_8', 'CINE21_COMT_CTSC_9', 'CINE21_COMT_CTSC_10',
       'CINE21_COMT_CTSC_11'],
      dtype='object')
        META_ID                                           SNSS_CTS  \
0  MM1000103011  폭탄이 설치된 차량, 가족을 구해야 한다.\r\n결혼기념일을 맞이하여 집에 돌아온 ...
1  MM1000109497  무장한 테러범들이 방송국을 급습하는 사건이 온 도시를 발칵 뒤집고 피랫의 석방을 요...
2  MM1000114876  아름다운 여대생 ‘예신’은 멋진 남자친구 ‘미아오’와 연애중이다.\r\n어느 날 폭...
3  MM1000115034                         불치병 소년과 바람둥이 청년의 우정을 그린 영화
4  MM1000115408  모든 사람이 꿈꾸어 왔던 소설\r\n20세기 이탈리안들이 가슴에 품은 단 하나의 러...

            CINE21_COMT_CTSC       CINE21_COMT_CTSC_1 CINE21_COMT_CTSC_2  \
0                        NaN                      NaN                NaN
1  뭉그적뭉그적 미션|제철 지난 독일판 <테이큰>                뭉그적뭉그적 미션    제철 지난 독일판 <테이큰>
2                        NaN                      NaN                NaN
3                        NaN                      NaN                NaN
4    스크린 너머로는 전해지지 않는 사랑의 열병  스크린 너머로는 전해지지 않는 사랑의 열병                NaN

  CINE21_COMT_CTSC_3 CINE21_COMT_CTSC_4 CINE21_COMT_CTSC_5 CINE21_COMT_CTSC_6  \
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
2                NaN                NaN                NaN                NaN
3                NaN                NaN                NaN                NaN
4                NaN                NaN                NaN                NaN

  CINE21_COMT_CTSC_7 CINE21_COMT_CTSC_8 CINE21_COMT_CTSC_9  \
0                NaN                NaN                NaN
1                NaN                NaN                NaN
2                NaN                NaN                NaN
3                NaN                NaN                NaN
4                NaN                NaN                NaN

  CINE21_COMT_CTSC_10 CINE21_COMT_CTSC_11
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN

## 씨네21전문가리뷰 (CINE21_COMT_CTSC) 컬럼 삭제

In [268]:
movie_list_rvwdata_v2 =  movie_list_rvwdata_v1.drop(['CINE21_COMT_CTSC'], axis= 1)
print(movie_list_rvwdata_v2.columns)

Index(['META_ID', 'SNSS_CTS', 'CINE21_COMT_CTSC_1', 'CINE21_COMT_CTSC_2',
       'CINE21_COMT_CTSC_3', 'CINE21_COMT_CTSC_4', 'CINE21_COMT_CTSC_5',
       'CINE21_COMT_CTSC_6', 'CINE21_COMT_CTSC_7', 'CINE21_COMT_CTSC_8',
       'CINE21_COMT_CTSC_9', 'CINE21_COMT_CTSC_10', 'CINE21_COMT_CTSC_11'],
      dtype='object')

### 최종 전처리 Dataframe - movie_list_rvwdata_v2

In [269]:
import datetime as dt
nowDate = dt.datetime.now()
movie_list_rvwdata_v2.to_csv("data/movie_list_rvwdata_preprocessing" + ".csv", mode='w', header=True, index=False, encoding='UTF-8')

##

##